#  Data Science Learning Journey  
*Curiosity to Capability — One Notebook at a Time*

---
Compiled and authored by **Partho Sarothi Das**   
	Dhaka, Bangladesh  
	Bachelor's & Master's in Statistics  
	Investment Banking Professional → Aspiring Data Scientist 
    
---

# Creating DataFrame

### DataFrame from Dictionary

In [4]:
import pandas as pd

data = {
    "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ['day1','day2', 'day3'])
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [5]:
# using dicts

student_dict = {
    'name':['nitish','ankit','rupesh','rishabh','amit','ankita'],
    'iq':[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,2,0,0]
}

student = pd.DataFrame(student_dict)
student.set_index('name',inplace=True)
student

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2
amit       0      0        0
ankita     0      0        0

### DataFrame from List

In [7]:
student_data = [
    [100, 80, 10],
    [90, 100, 7],
    [120, 100, 14],
    [90,85,10],
    [80, 50, 2]
]

students = pd.DataFrame(student_data, columns = ['iq', 'marks', 'package'])
students

    iq  marks  package
0  100     80       10
1   90    100        7
2  120    100       14
3   90     85       10
4   80     50        2

### Using csv file

In [9]:
movies = pd.read_csv('data/movies.csv')
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [10]:
ipl = pd.read_csv('data/ipl-matches.csv')
ipl.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

# DataFrame Attributes and Methods

### Shape of DataFrame

In [13]:
movies.shape

(1629, 18)

In [14]:
ipl.shape

(950, 20)

### dtypes ---> Data types

In [16]:
movies.dtypes

title_x              object
imdb_id              object
poster_path          object
wiki_link            object
title_y              object
original_title       object
is_adult              int64
year_of_release       int64
runtime              object
genres               object
imdb_rating         float64
imdb_votes            int64
story                object
summary              object
tagline              object
actors               object
wins_nominations     object
release_date         object
dtype: object

In [17]:
ipl.dtypes

ID                   int64
City                object
Date                object
Season              object
MatchNumber         object
Team1               object
Team2               object
Venue               object
TossWinner          object
TossDecision        object
SuperOver           object
WinningTeam         object
WonBy               object
Margin             float64
method              object
Player_of_Match     object
Team1Players        object
Team2Players        object
Umpire1             object
Umpire2             object
dtype: object

### index

In [19]:
movies.index

RangeIndex(start=0, stop=1629, step=1)

In [20]:
ipl.index

RangeIndex(start=0, stop=950, step=1)

### Show the columns

In [22]:
movies.columns

Index(['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime', 'genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'],
      dtype='object')

In [23]:
ipl.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

### values

In [25]:
movies['title_x'].values

array(['Uri: The Surgical Strike', 'Battalion 609',
       'The Accidental Prime Minister (film)', ..., 'Sabse Bada Sukh',
       'Daaka', 'Humsafar'], dtype=object)

In [26]:
ipl['Player_of_Match'].values

array(['HH Pandya', 'JC Buttler', 'RM Patidar', 'DA Miller',
       'Harpreet Brar', 'JJ Bumrah', 'R Ashwin', 'V Kohli', 'Q de Kock',
       'RA Tripathi', 'SN Thakur', 'TA Boult', 'WP Saha', 'AD Russell',
       'JM Bairstow', 'DR Sams', 'MR Marsh', 'Shubman Gill', 'JJ Bumrah',
       'DP Conway', 'PWH de Silva', 'Avesh Khan', 'YBK Jaiswal',
       'TH David', 'DA Warner', 'HV Patel', 'K Rabada', 'RK Singh',
       'RD Gaikwad', 'Mohsin Khan', 'SA Yadav', 'R Tewatia', 'KH Pandya',
       'Kuldeep Yadav', 'Umran Malik', 'R Parag', 'S Dhawan', 'KL Rahul',
       'M Jansen', 'Rashid Khan', 'JC Buttler', 'Mukesh Choudhary',
       'Kuldeep Yadav', 'F du Plessis', 'YS Chahal', 'DA Miller',
       'Umran Malik', 'KD Karthik', 'KL Rahul', 'RA Tripathi',
       'HH Pandya', 'MA Agarwal', 'S Dube', 'KS Williamson', 'YS Chahal',
       'Kuldeep Yadav', 'Anuj Rawat', 'Abhishek Sharma', 'Shubman Gill',
       'Q de Kock', 'PJ Cummins', 'KD Karthik', 'Avesh Khan',
       'LS Livingstone', 'LH Ferguson', 'JC Buttler', 'UT Yadav',
       'E Lewis', 'PWH de Silva', 'SV Samson', 'Mohammed Shami',
       'OF Smith', 'Kuldeep Yadav', 'UT Yadav', 'F du Plessis', 'VR Iyer',
       'SP Narine', 'RD Gaikwad', 'KS Bharat', 'Ishan Kishan',
       'Shivam Mavi', 'KL Rahul', 'KS Williamson', 'NM Coulter-Nile',
       'AR Patel', 'GJ Maxwell', 'Shubman Gill', 'AR Patel', 'RD Gaikwad',
       'KL Rahul', 'JR Hazlewood', 'YS Chahal', 'KA Pollard', 'SP Narine',
       'JJ Roy', 'RA Jadeja', 'GJ Maxwell', 'SS Iyer', 'JO Holder',
       'DJ Bravo', 'SP Narine', 'A Nortje', 'Kartik Tyagi', 'CV Varun',
       'RD Gaikwad', 'MA Agarwal', 'JC Buttler', 'KA Pollard',
       'Harpreet Brar', 'PP Shaw', 'Q de Kock', 'RD Gaikwad',
       'AB de Villiers', 'EJG Morgan', 'PP Shaw', 'RA Jadeja',
       'CH Morris', 'KL Rahul', 'D Padikkal', 'F du Plessis',
       'JM Bairstow', 'A Mishra', 'MM Ali', 'S Dhawan', 'AB de Villiers',
       'KA Pollard', 'DL Chahar', 'JD Unadkat', 'GJ Maxwell', 'RD Chahar',
       'SV Samson', 'N Rana', 'S Dhawan', 'HV Patel', 'TA Boult',
       'MP Stoinis', 'KS Williamson', 'JJ Bumrah', 'S Nadeem', 'A Nortje',
       'PJ Cummins', 'RD Gaikwad', 'Ishan Kishan', 'Sandeep Sharma',
       'BA Stokes', 'RD Gaikwad', 'SA Yadav', 'WP Saha', 'CH Gayle',
       'BA Stokes', 'RD Gaikwad', 'CJ Jordan', 'CV Varun', 'TA Boult',
       'MK Pandey', 'Mohammed Siraj', 'S Dhawan', 'JC Buttler',
       'LH Ferguson', 'KL Rahul', 'AB de Villiers', 'S Dhawan',
       'Q de Kock', 'KL Rahul', 'A Nortje', 'RA Jadeja', 'AB de Villiers',
       'R Tewatia', 'Q de Kock', 'KD Karthik', 'V Kohli', 'R Ashwin',
       'JM Bairstow', 'RA Tripathi', 'SA Yadav', 'AR Patel', 'SR Watson',
       'TA Boult', 'YS Chahal', 'SS Iyer', 'PK Garg', 'KA Pollard',
       'Shivam Mavi', 'Rashid Khan', 'AB de Villiers', 'SV Samson',
       'Shubman Gill', 'PP Shaw', 'KL Rahul', 'RG Sharma', 'SV Samson',
       'YS Chahal', 'MP Stoinis', 'AT Rayudu', 'JJ Bumrah',
       'F du Plessis', 'RR Pant', 'SA Yadav', 'KL Rahul', 'HH Pandya',
       'SO Hetmyer', 'A Mishra', 'Shubman Gill', 'JJ Bumrah', 'MS Dhoni',
       nan, 'DA Warner', 'AD Russell', 'S Dhawan', 'JD Unadkat',
       'RG Sharma', 'VR Aaron', 'AB de Villiers', 'SR Watson', 'RR Pant',
       'KK Ahmed', 'PA Patel', 'SS Iyer', 'SPD Smith', 'V Kohli',
       'HH Pandya', 'DA Warner', 'R Ashwin', 'SL Malinga', 'Imran Tahir',
       'KMA Paul', 'JC Buttler', 'AB de Villiers', 'S Dhawan', 'MS Dhoni',
       'KA Pollard', 'DL Chahar', 'KL Rahul', 'HF Gurney', 'K Rabada',
       'AS Joseph', 'Harbhajan Singh', 'AD Russell', 'JM Bairstow',
       'HH Pandya', 'S Gopal', 'SM Curran', 'JM Bairstow', 'MS Dhoni',
       'PP Shaw', 'MA Agarwal', 'Rashid Khan', 'JJ Bumrah', 'AD Russell',
       'SR Watson', 'CH Gayle', 'RR Pant', 'AD Russell',
       'Harbhajan Singh', 'SR Watson', 'Rashid Khan', 'AD Russell',
       'F du Plessis', 'L Ngidi', 'A Mishra', 'CA Lynn', 'S Gopal',
       'HV Patel', 'AB de Villiers', 'JJ Bumrah', 'Kuldeep Yadav',
       'UT Yadav', 'JC Buttler', 'AT Rayudu', 'AB de Villiers',
       'SP Narine', 'JC Buttler', 'S Dhawan', 'Ishan Kishan',
       'JC Buttler', 'KS Williamson', 'Mujeeb Ur Rahman', 'HH Pandya',
       'Rashid Khan', 'RA Jadeja', 'SA Yadav', 'SP Narine', 'RR Pant',
       'TG Southee', 'SR Watson', 'KS Williamson', 'CA Lynn', 'RG Sharma',
       'SS Iyer', 'AS Rajpoot', 'MS Dhoni', 'Rashid Khan', 'AS Rajpoot',
       'JC Archer', 'AT Rayudu', 'AB de Villiers', 'KL Rahul',
       'SR Watson', 'CH Gayle', 'N Rana', 'RG Sharma', 'N Rana',
       'CH Gayle', 'SV Samson', 'B Stanlake', 'JJ Roy', 'UT Yadav',
       'Rashid Khan', 'SV Samson', 'SW Billings', 'S Dhawan', 'KL Rahul',
       'SP Narine', 'DJ Bravo', 'KH Pandya', 'KV Sharma',
       'NM Coulter-Nile', 'Washington Sundar', 'HV Patel', 'JD Unadkat',
       'AT Rayudu', 'Mohammed Siraj', 'KK Nair', 'WP Saha', 'SS Iyer',
       'MM Sharma', 'S Dhawan', 'SP Narine', 'DR Smith', 'LMP Simmons',
       'JD Unadkat', 'Sandeep Sharma', 'RR Pant', 'RA Tripathi',
       'Mohammed Shami', 'BA Stokes', 'RG Sharma', 'DA Warner',
       'Sandeep Sharma', 'KH Pandya', 'LH Ferguson', 'G Gambhir',
       'Rashid Khan', 'AJ Tye', 'RV Uthappa', 'BA Stokes',
       'NM Coulter-Nile', 'HM Amla', 'MS Dhoni', 'MJ McClenaghan',
       'SK Raina', 'JC Buttler', 'KS Williamson', 'CH Gayle',
       'NM Coulter-Nile', 'B Kumar', 'BA Stokes', 'N Rana', 'CJ Anderson',
       'RV Uthappa', 'AJ Tye', 'KA Pollard', 'SP Narine', 'JJ Bumrah',
       'SV Samson', 'AR Patel', 'N Rana', 'Rashid Khan', 'KM Jadhav',
       'GJ Maxwell', 'CA Lynn', 'SPD Smith', 'Yuvraj Singh',
       'BCJ Cutting', 'DA Warner', 'MC Henriques', 'AB de Villiers',
       'V Kohli', 'YK Pathan', 'SK Raina', 'MS Dhoni', 'KK Nair',
       'DR Smith', 'V Kohli', 'AB Dinda', 'V Kohli', 'HM Amla',
       'KH Pandya', 'AB de Villiers', 'YK Pathan', 'MP Stoinis',
       'CH Morris', 'KH Pandya', 'A Zampa', 'SR Watson', 'P Kumar',
       'A Nehra', 'MP Stoinis', 'V Kohli', 'B Kumar', 'AM Rahane',
       'AD Russell', 'RR Pant', 'AD Russell', 'AR Patel', 'RG Sharma',
       'CR Brathwaite', 'DA Warner', 'DR Smith', 'RG Sharma', 'CH Morris',
       'AB Dinda', 'PA Patel', 'SA Yadav', 'V Kohli', 'Mustafizur Rahman',
       'SV Samson', 'AB de Villiers', 'B Kumar', 'RG Sharma',
       'RV Uthappa', 'DA Warner', 'Q de Kock', 'M Vohra', 'AJ Finch',
       'G Gambhir', 'A Mishra', 'AJ Finch', 'RG Sharma', 'AB de Villiers',
       'AJ Finch', 'AD Russell', 'AM Rahane', 'RG Sharma', 'A Nehra',
       'AB de Villiers', 'KA Pollard', nan, 'MJ McClenaghan', 'SR Watson',
       'P Negi', 'V Kohli', 'HH Pandya', 'AR Patel', 'Z Khan',
       'DA Warner', 'RA Jadeja', 'AB de Villiers', 'MC Henriques',
       'AD Russell', 'HH Pandya', 'EJG Morgan', 'PP Chawla', 'CH Gayle',
       'Harbhajan Singh', 'UT Yadav', 'SK Raina', 'LMP Simmons',
       'AM Rahane', 'Mandeep Singh', 'DA Warner', 'AT Rayudu',
       'NM Coulter-Nile', 'AD Russell', nan, 'DJ Bravo', 'TA Boult',
       'VR Aaron', 'BB McCullum', 'SL Malinga', 'MA Starc', 'SS Iyer',
       'DA Warner', 'SK Raina', 'SE Marsh', 'UT Yadav', 'AM Rahane',
       'Harbhajan Singh', 'JP Duminy', 'AD Russell', 'A Nehra',
       'AM Rahane', 'MA Agarwal', 'SPD Smith', 'DA Warner', 'GJ Bailey',
       'DJ Hooda', 'CH Gayle', 'BB McCullum', 'JP Faulkner', 'A Nehra',
       'M Morkel', 'MK Pandey', 'V Sehwag', 'SK Raina', 'UT Yadav',
       'CJ Anderson', 'M Vohra', 'MS Dhoni', 'YK Pathan', 'MEK Hussey',
       'SE Marsh', 'RV Uthappa', 'DA Warner', 'LMP Simmons', 'RV Uthappa',
       'DA Warner', 'AR Patel', 'MEK Hussey', 'AB de Villiers',
       'UT Yadav', 'AM Rahane', 'RV Uthappa', 'WP Saha', 'Yuvraj Singh',
       'RA Jadeja', 'AT Rayudu', 'G Gambhir', 'JP Faulkner', 'DR Smith',
       'DW Steyn', 'Sandeep Sharma', 'B Kumar', 'G Gambhir', 'GJ Maxwell',
       'RG Sharma', 'DR Smith', 'PV Tambe', 'AB de Villiers', 'KK Nair',
       'CJ Anderson', 'RA Jadeja', 'B Kumar', 'JP Faulkner',
       'Sandeep Sharma', 'DR Smith', 'M Vijay', 'Sandeep Sharma',
       'PV Tambe', 'AJ Finch', 'MM Sharma', 'CA Lynn', 'RA Jadeja',
       'GJ Maxwell', 'SK Raina', 'GJ Maxwell', 'JP Duminy', 'PA Patel',
       'AM Rahane', 'GJ Maxwell', 'YS Chahal', 'JH Kallis', 'KA Pollard',
       'Harbhajan Singh', 'BJ Hodge', 'MEK Hussey', 'PA Patel',
       'LJ Wright', 'V Kohli', 'Azhar Mahmood', 'A Mishra', 'DA Miller',
       'AP Tare', 'MK Pandey', 'MS Dhoni', 'AC Gilchrist', 'KA Pollard',
       'SR Watson', 'JH Kallis', 'PA Patel', 'MG Johnson', 'JD Unadkat',
       'G Gambhir', 'KK Cooper', 'SK Raina', 'AM Rahane', 'SR Tendulkar',
       'DA Miller', 'AM Rahane', 'MG Johnson', 'DJG Sammy', 'YK Pathan',
       'AB de Villiers', 'SK Raina', 'DA Warner', 'I Sharma', 'MS Dhoni',
       'RG Sharma', 'SV Samson', 'MEK Hussey', 'DA Warner', 'DR Smith',
       'JP Faulkner', 'JH Kallis', 'MS Dhoni', 'DR Smith',
       'Harmeet Singh', 'CH Gayle', 'MEK Hussey', 'DA Miller', 'V Sehwag',
       'R Vinay Kumar', 'RA Jadeja', 'GH Vihari', 'MEK Hussey',
       'AM Rahane', 'A Mishra', 'MS Gony', 'V Kohli', 'SPD Smith',
       'JP Faulkner', 'G Gambhir', 'RA Jadeja', 'RG Sharma', 'A Mishra',
       'AJ Finch', 'CH Gayle', 'MEK Hussey', 'V Kohli', 'KD Karthik',
       'SK Trivedi', 'GH Vihari', 'M Vohra', 'KA Pollard', 'R Dravid',
       'A Mishra', 'CH Gayle', 'SP Narine', 'MS Bisla', 'M Vijay',
       'MS Dhoni', 'YK Pathan', 'DR Smith', 'DW Steyn', 'Shakib Al Hasan',
       'UT Yadav', 'DW Steyn', 'AC Gilchrist', 'CH Gayle', 'SP Narine',
       'UT Yadav', 'MEK Hussey', 'AT Rayudu', 'DJ Hussey', 'A Chandila',
       'BW Hilfenhaus', 'RG Sharma', 'CH Gayle', 'BW Hilfenhaus',
       'DA Warner', 'CH Gayle', 'Mandeep Singh', 'SR Watson', 'JH Kallis',
       'AB de Villiers', 'DR Smith', 'SR Watson', 'SP Narine', 'SK Raina',
       'SL Malinga', 'Azhar Mahmood', 'P Negi', 'KC Sangakkara',
       'G Gambhir', 'DW Steyn', 'V Sehwag', 'G Gambhir', 'Mandeep Singh',
       'V Sehwag', 'CL White', 'AT Rayudu', 'V Sehwag', 'AB de Villiers',
       'SE Marsh', 'B Lee', 'SC Ganguly', 'F du Plessis', 'CH Gayle',
       'KMDN Kulasekara', 'KP Pietersen', 'G Gambhir', 'CH Gayle',
       'BJ Hodge', 'S Nadeem', 'AM Rahane', 'SP Narine', 'JD Ryder',
       'Shakib Al Hasan', 'AD Mascarenhas', 'F du Plessis', 'KA Pollard',
       'M Morkel', 'L Balaji', 'RG Sharma', 'MN Samuels', 'BJ Hodge',
       'RA Jadeja', 'AB de Villiers', 'AM Rahane', 'SPD Smith',
       'IK Pathan', 'RE Levi', 'M Vijay', 'CH Gayle', 'MM Patel',
       'SK Raina', 'JEC Franklin', 'CH Gayle', nan, 'S Dhawan',
       'SR Watson', 'YK Pathan', 'WP Saha', 'AC Gilchrist', 'A Mishra',
       'BJ Hodge', 'PP Chawla', 'CH Gayle', 'A Mishra', 'KD Karthik',
       'MS Dhoni', 'S Aravind', 'BA Bhatt', 'MR Marsh', 'M Vijay',
       'R Sharma', 'CH Gayle', 'AT Rayudu', 'Iqbal Abdulla', 'CH Gayle',
       'V Sehwag', 'BJ Hodge', 'R Sharma', 'MEK Hussey', 'YK Pathan',
       'P Parameswaran', 'KA Pollard', 'LRPL Taylor', 'JA Morkel',
       'V Sehwag', 'Iqbal Abdulla', 'V Kohli', 'J Botha', 'MK Tiwary',
       'DE Bollinger', 'I Sharma', 'V Kohli', 'MEK Hussey', 'SK Warne',
       'SL Malinga', 'DA Warner', 'CH Gayle', 'Harbhajan Singh',
       'SE Marsh', 'MM Patel', 'DPMD Jayawardene', 'S Sohal',
       'BB McCullum', 'L Balaji', 'Yuvraj Singh', 'PC Valthaty',
       'MEK Hussey', 'BB McCullum', 'G Gambhir', 'DW Steyn', 'MD Mishra',
       'PC Valthaty', 'SK Warne', 'SR Tendulkar', 'JH Kallis', 'SB Wagh',
       'SL Malinga', 'AB de Villiers', 'SK Trivedi', 'S Anirudha',
       'SK Raina', 'A Kumble', 'DE Bollinger', 'KA Pollard', 'M Kartik',
       'A Symonds', 'MS Dhoni', 'JD Unadkat', 'R McLaren', 'RG Sharma',
       'G Gambhir', 'KP Pietersen', 'R Ashwin', 'KA Pollard',
       'Harmeet Singh', 'SR Tendulkar', 'PP Chawla', 'R Vinay Kumar',
       'RJ Harris', 'KC Sangakkara', 'TL Suman', 'SC Ganguly', 'MJ Lumb',
       'SK Raina', 'SK Warne', 'DPMD Jayawardene', 'PD Collingwood',
       'AT Rayudu', 'M Vijay', 'KP Pietersen', 'SC Ganguly', 'KD Karthik',
       'M Vijay', 'SL Malinga', 'DA Warner', 'Harbhajan Singh', 'NV Ojha',
       'MK Tiwary', 'YK Pathan', 'SR Tendulkar', 'KM Jadhav', 'AC Voges',
       'RV Uthappa', 'SR Tendulkar', 'J Theron', 'A Symonds', 'JH Kallis',
       'AA Jhunjhunwala', 'ML Hayden', 'A Symonds', 'JH Kallis',
       'SR Tendulkar', 'MS Dhoni', 'JH Kallis', 'V Sehwag', 'MK Tiwary',
       'WPUJC Vaas', 'G Gambhir', 'YK Pathan', 'AD Mathews', 'A Kumble',
       'MK Pandey', 'AC Gilchrist', 'MK Pandey', 'V Sehwag',
       'M Muralitharan', 'LR Shukla', 'JH Kallis', 'BJ Hodge',
       'AB de Villiers', 'Yuvraj Singh', 'ML Hayden', 'RG Sharma',
       'B Lee', 'SK Warne', 'LRPL Taylor', 'R Bhatia', 'Harbhajan Singh',
       'LRPL Taylor', 'DR Smith', 'A Mishra', 'JP Duminy',
       'DPMD Jayawardene', 'S Badrinath', 'A Nehra', 'ML Hayden',
       'A Singh', 'RG Sharma', 'G Gambhir', 'GC Smith', 'MS Dhoni',
       'JH Kallis', 'DPMD Jayawardene', 'YK Pathan', 'SB Jakati',
       'JP Duminy', 'Yuvraj Singh', 'SK Raina', 'DP Nannes',
       'KC Sangakkara', 'MV Boucher', 'YK Pathan', 'SR Tendulkar',
       'HH Gibbs', 'TM Dilshan', 'KC Sangakkara', 'PP Ojha', 'RS Bopara',
       'YK Pathan', 'AB de Villiers', 'AC Gilchrist', 'CH Gayle',
       'M Muralitharan', 'RP Singh', 'DL Vettori', 'R Dravid',
       'SR Tendulkar', 'YK Pathan', 'M Ntini', 'SR Watson', 'SE Marsh',
       'CRD Fernando', 'SK Raina', 'Sohail Tanvir', 'Umar Gul',
       'R Vinay Kumar', 'JA Morkel', 'KD Karthik', 'SE Marsh', 'A Kumble',
       'SE Marsh', 'YK Pathan', 'SP Goswami', 'M Ntini', 'DJ Bravo',
       'DPMD Jayawardene', 'GC Smith', 'SM Pollock', 'A Mishra',
       'ST Jayasuriya', 'Shoaib Akhtar', 'SE Marsh', 'SR Watson',
       'SC Ganguly', 'L Balaji', 'YK Pathan', 'MS Dhoni', 'SC Ganguly',
       'A Nehra', 'AC Gilchrist', 'S Sreesanth', 'Sohail Tanvir',
       'SM Pollock', 'P Kumar', 'IK Pathan', 'V Sehwag', 'SA Asnodkar',
       'SE Marsh', 'GD McGrath', 'ST Jayasuriya', 'MS Dhoni', 'SM Katich',
       'AC Gilchrist', 'JDP Oram', 'SR Watson', 'KC Sangakkara',
       'YK Pathan', 'ML Hayden', 'V Sehwag', 'SR Watson', 'DJ Hussey',
       'MV Boucher', 'MF Maharoof', 'MEK Hussey', 'BB McCullum'],
      dtype=object)

### Head( ), Tail( ), & Sample( )

In [28]:
movies.head(3)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)

In [29]:
movies.tail(4)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012)

In [30]:
movies.sample(5)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
1438,Green Card Fever,tt0292527,https://upload.wikimedia.org/wikipedia/en/6/6b...,https://en.wikipedia.org/wiki/Green_Card_Fever,Green Card Fever,Green Card Fever,0,2003,100,Comedy|Drama|Romance,5.9,179,Green Card Fever is the story of a young man i...,Green Card Fever is the story of a young man i...,NaN,Vikram Dasu|Purva Bedi|Deep Katdare|Chayton Ar...,NaN,29 August 2003 (USA)
951,Quick Gun Murugun,tt1176911,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Quick_Gun_Murugun,Quick Gun Murugun: Misadventures of an Indian ...,Quick Gun Murugun: Misadventures of an Indian ...,0,2009,97,Action|Comedy|Drama,5.9,757,Quick Gun Murugun is a western spoof with atti...,A once-dead vegetarian cowboy is sent back to ...,MIND IT!,Rajendra Prasad|Nassar|Rambha|Raju Sundaram|Vi...,NaN,28 August 2009 (India)
1031,Ek Vivaah... Aisa Bhi,tt1194608,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ek_Vivaah..._Ais...,Ek Vivaah... Aisa Bhi,Ek Vivaah... Aisa Bhi,0,2008,132,Drama|Romance,5.3,392,Bhopal-based statuesque singing beauty Chandn...,Bhopal-based statuesque singing beauty Chandn...,NaN,Isha Koppikar|Sonu Sood|,NaN,7 November 2008 (India)
682,Ishaqzaade,tt2308773,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ishaqzaade,Ishaqzaade,Ishaqzaade,0,2012,120,Action|Drama|Romance,6.5,6214,Rising from the ashes of hooliganism and small...,While fighting for the political supremacy of ...,Born to Hate... Destined to Love,Arjun Kapoor|Parineeti Chopra|Gauhar Khan|Anil...,11 wins & 17 nominations,11 May 2012 (India)
584,3G (film),tt2404519,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/3G_(film),3G - A Killer Connection,3G - A Killer Connection,0,2013,125,Horror|Sci-Fi|Thriller,3.6,1064,Sam purchase's a second hand cellphone and sta...,Sam purchase's a second hand cellphone and sta...,NaN,Neil Nitin Mukesh|Sonal Chauhan|Mrinalini Shar...,NaN,15 March 2013 (India)

### info( )

In [32]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  summary           1629 non-null   object
 14  tagline           557 non-null    object
 15  actors            1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 229.2+ KB

### describe( )

In [34]:
# Numerical values

movies.describe()

       is_adult  year_of_release  imdb_rating     imdb_votes
count    1629.0      1629.000000  1629.000000    1629.000000
mean        0.0      2010.263966     5.557459    5384.263352
std         0.0         5.381542     1.567609   14552.103231
min         0.0      2001.000000     0.000000       0.000000
25%         0.0      2005.000000     4.400000     233.000000
50%         0.0      2011.000000     5.600000    1000.000000
75%         0.0      2015.000000     6.800000    4287.000000
max         0.0      2019.000000     9.400000  310481.000000

In [35]:
movies.describe(include = 'all')

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
count,1629,1629,1526,1629,1629,1629,1629.0,1629.000000,1629,1629,1629.000000,1629.000000,1609,1629,557,1624,707,1522
unique,1625,1623,1517,1629,1620,1621,NaN,NaN,130,205,NaN,NaN,1603,1604,553,1617,229,1063
top,Tanu Weds Manu: Returns,tt2140465,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Style,Tanu Weds Manu Returns,NaN,NaN,\N,Drama,NaN,NaN,Tanu and Manu's marriage collapses. What happe...,Add a Plot »,Once upon a time in India,Neil Nitin Mukesh|,1 nomination,14 October 2016 (India)
freq,2,2,4,1,3,2,NaN,NaN,119,162,NaN,NaN,2,20,2,2,115,5
mean,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2010.263966,NaN,NaN,5.557459,5384.263352,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.381542,NaN,NaN,1.567609,14552.103231,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2001.000000,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2005.000000,NaN,NaN,4.400000,233.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2011.000000,NaN,NaN,5.600000,1000.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2015.000000,NaN,NaN,6.800000,4287.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2019.000000,NaN,NaN,9.400000,310481.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Only categorical values
movies.describe(include=[object])

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,runtime,genres,story,summary,tagline,actors,wins_nominations,release_date
count,1629,1629,1526,1629,1629,1629,1629,1629,1609,1629,557,1624,707,1522
unique,1625,1623,1517,1629,1620,1621,130,205,1603,1604,553,1617,229,1063
top,Tanu Weds Manu: Returns,tt2140465,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Style,Tanu Weds Manu Returns,\N,Drama,Tanu and Manu's marriage collapses. What happe...,Add a Plot »,Once upon a time in India,Neil Nitin Mukesh|,1 nomination,14 October 2016 (India)
freq,2,2,4,1,3,2,119,162,2,20,2,2,115,5

### Find out **missing values** ---> isnull()

In [38]:
movies.isnull().sum()

title_x                0
imdb_id                0
poster_path          103
wiki_link              0
title_y                0
original_title         0
is_adult               0
year_of_release        0
runtime                0
genres                 0
imdb_rating            0
imdb_votes             0
story                 20
summary                0
tagline             1072
actors                 5
wins_nominations     922
release_date         107
dtype: int64

### Find out duplicated values ---> duplicated( )

In [40]:
movies.duplicated().sum()

0

### Rename the column name

In [42]:
students

    iq  marks  package
0  100     80       10
1   90    100        7
2  120    100       14
3   90     85       10
4   80     50        2

In [43]:
students.rename(columns={'iq':'IQ', 'marks':'Marks', 'package':'Package'}, inplace = True)
students

    IQ  Marks  Package
0  100     80       10
1   90    100        7
2  120    100       14
3   90     85       10
4   80     50        2

# Math Methods

### Sum ---> sum( )

In [46]:
# sum along axis=0
students.sum()

IQ         480
Marks      415
Package     43
dtype: int64

In [47]:
# sum along axis=1
students.sum(axis=1)

0    190
1    197
2    234
3    185
4    132
dtype: int64

### Mean --- > mean( )

In [49]:
# mean along axis=1
students.mean()

IQ         96.0
Marks      83.0
Package     8.6
dtype: float64

In [50]:
#  mean aong axis=1
students.mean(axis=1)

0    63.333333
1    65.666667
2    78.000000
3    61.666667
4    44.000000
dtype: float64

### Median

In [52]:
students.median()

IQ         90.0
Marks      85.0
Package    10.0
dtype: float64

### Mode

In [54]:
students.mode()

   IQ  Marks  Package
0  90    100       10

### Variance ---> var( )

In [56]:
students.var()

IQ         230.0
Marks      420.0
Package     19.8
dtype: float64

### Standard deviation ---> std( )

In [58]:
students.std()

IQ         15.165751
Marks      20.493902
Package     4.449719
dtype: float64

### Minimum / Maximum

In [60]:
students.min()

IQ         80
Marks      50
Package     2
dtype: int64

In [61]:
students.max()

IQ         120
Marks      100
Package     14
dtype: int64

### Count

In [63]:
students.count()

IQ         5
Marks      5
Package    5
dtype: int64

### q-th quantile (e.g., 0.25 for Q1)

In [65]:
students.quantile(0.50)

IQ         90.0
Marks      85.0
Package    10.0
Name: 0.5, dtype: float64

### Cumulative sum ---> cumsum( )

In [67]:
students.cumsum()

    IQ  Marks  Package
0  100     80       10
1  190    180       17
2  310    280       31
3  400    365       41
4  480    415       43

### Cumulative product ----> cumprod( )

In [69]:
students.cumprod()

           IQ       Marks  Package
0         100          80       10
1        9000        8000       70
2     1080000      800000      980
3    97200000    68000000     9800
4  7776000000  3400000000    19600

### Correlation ---> corr()

In [71]:
students.corr()

               IQ     Marks   Package
IQ       1.000000  0.651533  0.896518
Marks    0.651533  1.000000  0.770352
Package  0.896518  0.770352  1.000000

### Covariance ---> cov( )

In [73]:
students.cov()

            IQ   Marks  Package
IQ       230.0  202.50    60.50
Marks    202.5  420.00    70.25
Package   60.5   70.25    19.80

# Selecting cols from a DataFrame

### Single Column

In [76]:
movies['title_x']

0                   Uri: The Surgical Strike
1                              Battalion 609
2       The Accidental Prime Minister (film)
3                            Why Cheat India
4                            Evening Shadows
                        ...
1624                   Tera Mera Saath Rahen
1625                    Yeh Zindagi Ka Safar
1626                         Sabse Bada Sukh
1627                                   Daaka
1628                                Humsafar
Name: title_x, Length: 1629, dtype: object

In [77]:
ipl['Venue']

0                Narendra Modi Stadium, Ahmedabad
1                Narendra Modi Stadium, Ahmedabad
2                           Eden Gardens, Kolkata
3                           Eden Gardens, Kolkata
4                        Wankhede Stadium, Mumbai
                          ...
945                                  Eden Gardens
946                              Wankhede Stadium
947                              Feroz Shah Kotla
948    Punjab Cricket Association Stadium, Mohali
949                         M Chinnaswamy Stadium
Name: Venue, Length: 950, dtype: object

### Multiple Columns

In [79]:
ipl[['Date', 'Venue', 'WinningTeam']]

,Date,Venue,WinningTeam
0,2022-05-29,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans
1,2022-05-27,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals
2,2022-05-25,"Eden Gardens, Kolkata",Royal Challengers Bangalore
3,2022-05-24,"Eden Gardens, Kolkata",Gujarat Titans
4,2022-05-22,"Wankhede Stadium, Mumbai",Punjab Kings
...,...,...,...
945,2008-04-20,Eden Gardens,Kolkata Knight Riders
946,2008-04-20,Wankhede Stadium,Royal Challengers Bangalore
947,2008-04-19,Feroz Shah Kotla,Delhi Daredevils
948,2008-04-19,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings
949,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders

In [80]:
movies[['title_x', 'year_of_release', 'imdb_rating']]

                                   title_x  year_of_release  imdb_rating
0                 Uri: The Surgical Strike             2019          8.4
1                            Battalion 609             2019          4.1
2     The Accidental Prime Minister (film)             2019          6.1
3                          Why Cheat India             2019          6.0
4                          Evening Shadows             2018          7.3
...                                    ...              ...          ...
1624                 Tera Mera Saath Rahen             2001          4.9
1625                  Yeh Zindagi Ka Safar             2001          3.0
1626                       Sabse Bada Sukh             2018          6.1
1627                                 Daaka             2019          7.4
1628                              Humsafar             2011          9.0

[1629 rows x 3 columns]

# Selecting rows from a DataFrame

- **iloc** - searches using index positions
- **loc** - searches using index labels

### Single Row  ---> iloc

In [83]:
movies.iloc[5]

title_x                                                   Soni (film)
imdb_id                                                     tt6078866
poster_path         https://upload.wikimedia.org/wikipedia/en/thum...
wiki_link                   https://en.wikipedia.org/wiki/Soni_(film)
title_y                                                          Soni
original_title                                                   Soni
is_adult                                                            0
year_of_release                                                  2018
runtime                                                            97
genres                                                          Drama
imdb_rating                                                       7.2
imdb_votes                                                       1595
story               Soni  a young policewoman in Delhi  and her su...
summary             While fighting crimes against women in Delhi  ...
tagline                                                           NaN
actors              Geetika Vidya Ohlyan|Saloni Batra|Vikas Shukla...
wins_nominations                               3 wins & 5 nominations
release_date                                    18 January 2019 (USA)
Name: 5, dtype: object

### Multiple Rows   ---> iloc

In [85]:
# Select rows from 2nd to 5th row
movies.iloc[1:5]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [86]:
# fancy indexing
movies.iloc[[0,4,5]]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
5,Soni (film),tt6078866,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Soni_(film),Soni,Soni,0,2018,97,Drama,7.2,1595,Soni a young policewoman in Delhi and her su...,While fighting crimes against women in Delhi ...,NaN,Geetika Vidya Ohlyan|Saloni Batra|Vikas Shukla...,3 wins & 5 nominations,18 January 2019 (USA)

### Single Row  ---> loc

In [88]:
student

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2
amit       0      0        0
ankita     0      0        0

In [89]:
student.loc['ankit']

iq         90
marks      70
package     7
Name: ankit, dtype: int64

### Multiple Rows   ---> loc

In [91]:
student.loc['nitish':'rishabh':2]

         iq  marks  package
name
nitish  100     80       10
rupesh  120    100       14

In [92]:
student.loc['nitish':'rishabh']

          iq  marks  package
name
nitish   100     80       10
ankit     90     70        7
rupesh   120    100       14
rishabh   80     50        2

In [93]:
student.iloc[[0,3,4]]

          iq  marks  package
name
nitish   100     80       10
rishabh   80     50        2
amit       0      0        0

# Selecting both rows and cols

In [95]:
movies.iloc[0:3,0:3]

,title_x,imdb_id,poster_path
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...
1,Battalion 609,tt9472208,NaN
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...

In [96]:
movies.loc[0:2,'title_x':'poster_path']

,title_x,imdb_id,poster_path
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...
1,Battalion 609,tt9472208,NaN
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...

# Filtering a DataFrame

In [98]:
# Find all the final winners
df = ipl[ipl['MatchNumber'] == 'Final']
df[['Season','WinningTeam']]

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

In [99]:
# How many super over finishes have occured

ipl[ipl['SuperOver'] == 'Y'].shape[0]

14

In [100]:
# How many matches has 'Chennai Super Kings' won in Kolkata

ipl[(ipl['City'] == 'Kolkata') & (ipl['WinningTeam'] == 'Chennai Super Kings')].shape[0]

5

In [101]:
# Toss winner is match winner in percentage

num_match_win = ipl[ipl['TossWinner'] == ipl['WinningTeam']].shape[0]
total_match = ipl.shape[0]
percentage = (num_match_win/total_match) * 100
round(percentage,2)

51.47

In [102]:
# Number of movies with 'imdb_rating' higher than 8 and 'imdb_votes'>10000

movies[(movies['imdb_rating'] > 8) & (movies['imdb_votes']>10000)].shape[0]

43

In [103]:
# Action movies with rating higher than 7.5

mask1 = movies['genres'].str.contains('Action')
mask2 = movies['imdb_rating'] > 7.5

movies[mask1 & mask2]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
41,Family of Thakurganj,tt8897986,https://upload.wikimedia.org/wikipedia/en/9/99...,https://en.wikipedia.org/wiki/Family_of_Thakur...,Family of Thakurganj,Family of Thakurganj,0,2019,127,Action|Drama,9.4,895,The film is based on small town of North India...,The film is based on small town of North India...,NaN,Jimmy Sheirgill|Mahie Gill|Nandish Singh|Prana...,NaN,19 July 2019 (India)
84,Mukkabaaz,tt7180544,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Mukkabaaz,The Brawler,Mukkabaaz,0,2017,154,Action|Drama|Sport,8.1,5434,A boxer (Shravan) belonging to upper cast tra...,A boxer struggles to make his mark in the boxi...,NaN,Viineet Kumar|Jimmy Sheirgill|Zoya Hussain|Rav...,3 wins & 6 nominations,12 January 2018 (USA)
106,Raazi,tt7098658,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Raazi,Raazi,Raazi,0,2018,138,Action|Drama|Thriller,7.8,20289,Hidayat Khan is the son of an Indian freedom f...,A Kashmiri woman agrees to marry a Pakistani a...,An incredible true story,Alia Bhatt|Vicky Kaushal|Rajit Kapoor|Shishir ...,21 wins & 26 nominations,11 May 2018 (USA)
110,Parmanu: The Story of Pokhran,tt6826438,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Parmanu:_The_Sto...,Parmanu: The Story of Pokhran,Parmanu: The Story of Pokhran,0,2018,129,Action|Drama|History,7.7,18292,Captain Ashwat Raina's efforts to turn India i...,Ashwat Raina and his teammates arrive in Pokhr...,1998| India: one secret operation| six Indians...,John Abraham|Boman Irani|Diana Penty|Anuja Sat...,NaN,25 May 2018 (USA)
112,Bhavesh Joshi Superhero,tt6129302,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Bhavesh_Joshi_Su...,Bhavesh Joshi Superhero,Bhavesh Joshi Superhero,0,2018,154,Action|Drama,7.6,4928,Bhavesh Joshi Superhero is an action film abou...,The origin story of Bhavesh Joshi an Indian s...,This year| justice will have a new name.,Harshvardhan Kapoor|Priyanshu Painyuli|Ashish ...,2 nominations,1 June 2018 (USA)
169,The Ghazi Attack,tt6299040,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Ghazi_Attack...,The Ghazi Attack,The Ghazi Attack,0,2017,116,Action|Thriller|War,7.6,10332,In 1971 amid rising tensions between India an...,A Pakistani submarine Ghazi plans to secretly...,The war you did not know about,Rana Daggubati|Kay Kay Menon|Atul Kulkarni|Om ...,1 win & 7 nominations,17 February 2017 (USA)
219,Raag Desh (film),tt6080746,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Raagdesh,Raag Desh,Raag Desh,0,2017,135,Action|Drama|History,8.3,341,A period film based on the historic 1945 India...,A period film based on the historic 1945 India...,NaN,Kunal Kapoor|Amit Sadh|Mohit Marwah|Kenneth De...,NaN,28 July 2017 (India)
258,Irudhi Suttru,tt5310090,https://upload.wikimedia.org/wikipedia/en/f/fe...,https://en.wikipedia.org/wiki/Saala_Khadoos,Saala Khadoos,Saala Khadoos,0,2016,109,Action|Drama|Sport,7.6,10507,An under-fire boxing coach Prabhu is transfer...,The story of a former boxer who quits boxing f...,NaN,Madhavan|Ritika Singh|Mumtaz Sorcar|Nassar|Rad...,9 wins & 2 nominations,29 January 2016 (USA)
280,Laal Rang,tt5600714,NaN,https://en.wikipedia.org/wiki/Laal_Rang,Laal Rang,Laal Rang,0,2016,147,Action|Crime|Drama,8.0,3741,The friendship of two men is tested when thing...,The friendship of two men is tested when thing...,Every job good or bad| must be done with honesty.,Randeep Hooda|Akshay Oberoi|Rajniesh Duggall|P...,NaN,22 April 2016 (India)
297,Udta Punjab,tt4434004,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Udta_Punjab,Udta Punjab,Udta Punjab,0,2016,148,Action|Crime|Drama,7.8,23995,What on earth can a rock star a migrant labor...,A story that revolves around drug abuse in the...,NaN,Shahid Kapoor|Alia Bhatt|Kareena Kapoor|Diljit...,11 wins & 19 nominations,17 June 2016 (USA)
354,Dangal (film),tt5074352,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Dangal_(film),Dangal,Dangal,0,2016,161,Action|Biography|Drama,8.4,131338,Biopic of Mahavir Singh Phogat who taught wre...,Former wrestler Mahavir Singh Phogat and his t...,You think our girls are any lesser than boys?,Aamir Khan|Fatima Sana Shaikh|Sanya Malhotra|S...,23 wins & 4 nominations,21 December 2016 (USA)
362,Bajrangi Bhaijaan,tt3863552,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Bajrangi_Bhaijaan,Bajrangi Bhaijaan,Bajrangi Bhaijaan,0,2015,163,Action|Comedy|Drama,8.0,65877,A little mute girl from a Pakistani village ge...,An Indian man with a magnanimous heart takes a...,NaN,Salman Khan|Harshaali Malhotra|Nawazuddin Sidd...,25 wins & 13 nominations,17 July 2015 (USA)
365,Baby (2015 Hindi film),tt3848892,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Baby_(2015_Hindi...,Baby,Baby,0,2015,159,Action|Thriller,8.0,49426,The country is perpetually under threat from t...,An elite counter-intelligence unit learns of a...,History Is Made By Those Who Give A Damn!,Akshay Kumar|Danny Denzongpa|Rana Daggubati|Ta...,1 win,23 January 2015 (India)
393,Detective Byomkesh Bakshy!,tt3447364,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Detective_Byomke...,Detective Byomkesh Bakshy!,Detective Byomkesh Bakshy!,0,2015,139,Action|Mystery|Thriller,7.6,14674,CALCUTTA 1943 A WAR - A MYSTERY - and A DETECT...,While investigating the disappearance of a che...,Expect The Unexpected,Sushant Singh Rajput|Anand Tiwari|Neeraj Kabi|...,NaN,3 April 2015 (USA)
449,Titli (2014 film),tt3019620,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Titli_(2014_film),Titli,Titli,0,2014,116,Action|Drama|Thriller,7.6,3677,In the badlands of Delhi's dystopic underbelly...,A Hindi feature film set in the lower depths o...,Daring| Desireable| Dangerous,Nawazuddin Siddiqui|Niharika Singh|Anil George...,4 wins & 5 nominations,20 June 2014 (USA)
536,Haider (film),tt3390572,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Haider_(film),Haider,Haider,0,2014,160,Action|Crime|Drama,8.1,46912,Vishal Bhardwaj's adaptation of William Shakes...,A young man returns to Kashmir after his fathe...,NaN,Tabu|Shahid Kapoor|Shraddha Kapoor|Kay Kay Men...,28 wins & 24 nominations,2 October 2014 (USA)
589,Vishwaroopam,tt2199711,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Vishwaroop_(Hind...,Vishwaroopam,Vishwaroopam,0,2013,148,Action|Thriller,8.2,38016,Vishwanathan a Kathak dance teacher in New Yo...,When a classical dancer's suspecting wife sets...,NaN,Kamal Haasan|Rahul Bose|Shekhar Kapur|Pooja Ku...,5 wins & 11 nominations,25 January 2013 (India)
625,Madras Cafe,tt2855648,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Madras_Cafe,Madras Cafe,Madras Cafe,0,2013,130,Action|Drama|Thriller,7.7,21393,An Indian Intelligence agent (portrayed by Joh...,An Indian intelligence agent journeys to a war...,NaN,John Abraham|Nargis Fakhri|Raashi Khanna|Praka...,10 wins & 10 nominations,23 August 2013 (India)
668,Paan Singh Tomar (film),tt1620933,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Paan_Singh_Tomar...,Paan Singh Tomar,Paan Singh Tomar,0,2012,135,Action|Biography|Crime,8.2,29994,Paan Singh Tomar is a Hindi-language film bas...,The story of Paan Singh Tomar an Indian athle...,NaN,Irrfan Khan|,10 wins & 11 nominations,2 March 2012 (USA)
693,Gangs of Wasseypur,tt1954470,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gangs_of_Wasseypur,Gangs of Wasseypur,Gangs of Wasseypur,0,2012,321,Action|Comedy|Crime,8.2,71636,Shahid Khan is exiled after impersonating the ...,A clash between Sultan and Shahid Khan leads t...,NaN,Manoj Bajpayee|Richa Chadha|Nawazuddin Siddiqu...,12 wins & 43 nominations,2 August 2012 (Singapore)
694,Gangs of Wasseypur – Part 2,tt1954470,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gangs_of_Wasseyp...,Gangs of Wasseypur,Gangs of Wasseypur,0,2012,321,Action|Comedy|Crime,8.2,71636,Shahid Khan is exiled after impersonating the ...,A clash between Sultan and Shahid Khan leads t...,NaN,Manoj Bajpayee|Richa Chadha|Nawazuddin Siddiqu...,12 wins & 43 nominations,2 August 2012 (Singapore)
982,Jodhaa Akbar,tt0449994,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Jodhaa_Akbar,Jodhaa Akbar,Jodhaa Akbar,0,2008,213,Action|Drama|History,7.6,27541,Jodhaa Akbar is a sixteenth century love story...,A sixteenth century love story about a marriag...,NaN,Hrithik Roshan|Aishwarya Rai Bachchan|Sonu Soo...,32 wins & 21 nominations,15 February 2008 (USA)
1039,1971 (2007 film),tt0983990,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/1971_(2007_film),1971,1971,0,2007,160,Action|Drama|War,7.9,1121,Based on true facts the film revolves around ...,Based on true facts the film revolves around ...,Honor the heroes.......,Manoj Bajpayee|Ravi Kishan|Deepak Dobriyal|,1 win,9 March 2007 (India)
1058,Black Friday (2007 film),tt0400234,https://upload.wikimedia.org/wikipedia/en/5/58...,https://en.wikipedia.org/wiki/Black_Friday_(20...,Black Friday,Black Friday,0,2004,143,Action|Crime|Drama,8.5,16761,A dramatic presentation of the bomb blasts tha...,Black Friday is a film about the investigation...,The story of the Bombay bomb blasts,Kay Kay Menon|Pavan Malhotra|Aditya Srivastava...,3 nominations,9 February 2007 (India)
1188,Omkara (2006 film),tt0488414,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Omkara_(2006_film),Omkara,Omkara,0,2006,155,Action|Crime|Drama,8.1,17594,Advocate Raghunath Mishra has arranged the mar...,A politically-minded enforcer's misguided trus...,NaN,Ajay Devgn|Saif Ali Khan|Vivek Oberoi|Kareena ...,19 wins & 20 nominations,28 July 2006 (USA)
1293,Sarkar (2005 film),tt0432047,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Sarkar_(2005_film),Sarkar,Sarkar,0,2005,124,Action|Crime|Drama,7.6,14694,Meet Subhash Nagre - a wealthy and influential...,The authority of a man who runs a parallel go...,'There are no Rights and Wrongs. Only Power' -...,Amitabh Bachchan|Abhishek Bachchan|Kay Kay Men...,2 wins & 10 nominations,1 July 2005 (India)
1294,Sehar,tt0477857,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Sehar,Sehar,Sehar,0,2005,125,Action|Crime|Drama,7.8,1861,At the tender age of 8 Ajay Kumar is traumatiz...,Ajay Kumar the newly appointed honest SSP of ...,NaN,Arshad Warsi|Pankaj Kapur|Mahima Chaudhry|Sush...,NaN,29 July 2005 (India)
1361,Lakshya (film),tt0323013,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Lakshya_(film),Lakshya,Lakshya,0,2004,186,Action|Drama|Romance,7.9,18777,Karan is a lazy good-for-nothing who lives on ...,An aimless jobless irresponsible grown man j...,It took him 24 years and 18000 feet to find hi...,Hrithik Roshan|Preity Zinta|Amitabh Bachchan|O...,4 wins & 10 nominations,18 June 2004 (USA)
1432,Gangaajal,tt0373856,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gangaajal,Gangaajal,Gangaajal,0,2003,157,Action|Crime|Drama,7.8,14295,An SP Amit Kumar who is given charge of Tezpur...,An IPS officer motivates and leads a dysfuncti...,NaN,Ajay Devgn|Gracy Singh|Mohan Joshi|Yashpal Sha...,4 wins & 29 nominations,29 August 2003 (India)
1495,Company (film),tt0296574,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Company_(film),Company,Company,0,2002,155,Action|Crime|Drama,8.0,13474,Mallik is a henchman of Aslam Bhai a Mumbai u...,A small-time gangster named Chandu teams up wi...,A law & order enterprise,Ajay Devgn|Mohanlal|Manisha Koirala|Seema Bisw...,16 wins & 9 nominations,15 April 2002 (India)
1554,The Legend of Bhagat Singh,tt0319736,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Legend_of_Bh...,The Legend of Bhagat Singh,The Legend of Bhagat Singh,0,2002,155,Action|Biography|Drama,8.1,13455,Bhagat was born in British India during the ye...,The story of a young revolutionary who raised ...,NaN,Ajay Devgn|Sushant Singh|D. Santosh|Akhilendra...,11 wins & 5 nominations,7 June 2002 (India)
1607,Nayak (2001 Hindi film),tt0291376,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Nayak_(2001_Hind...,Nayak: The Real Hero,Nayak: The Real Hero,0,2001,187,Action|Drama|Thriller,7.8,12522,Employed as a camera-man at a popular televisi...,A man accepts a challenge by the chief ministe...,Fight the power,Anil Kapoor|Rani Mukerji|Amrish Puri|Johnny Le...,2 nominations,7 September 2001 (India)

In [104]:
movies.head(2)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)

# Adding new cols

In [106]:
# completely new
movies['Country'] = 'India'
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date,Country
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA),India
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India),India
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA),India
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA),India
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India),India