# Ways to Handle Missing Values in NumPy  
np.nan (Not a Number) is a special floating-point value. So the array must be of dtype=float to accommodate it.

In [2]:
# 1. Using np.nan for Missing Values
import numpy as np

arr = np.array([1.0, 2.5, np.nan, 4.5])
arr

array([1. , 2.5, nan, 4.5])

In [3]:
# 2. Detect Missing Values
np.isnan(arr)

array([False, False,  True, False])

In [4]:
# 3. Remove Missing Values
arr_clean = arr[~np.isnan(arr)]
arr_clean

array([1. , 2.5, 4.5])

In [5]:
# 4. Ignore NaNs in Calculations (use nan-safe functions)

np.nanmean(arr)   # Mean ignoring NaN
np.nanstd(arr)    # Std dev ignoring NaN
np.nansum(arr)    # Sum ignoring NaN

8.0

In [6]:
# 5. Replace NaNs with a Specific Value
arr_filled = np.nan_to_num(arr, nan=0)
arr_filled

array([1. , 2.5, 0. , 4.5])

In [7]:
# Another Way
arr[np.isnan(arr)] = 99
arr

array([ 1. ,  2.5, 99. ,  4.5])