#  Data Science Learning Journey  
*Curiosity to Capability — One Notebook at a Time*

---
Compiled and authored by **Partho Sarothi Das**   
	Dhaka, Bangladesh  
	Bachelor's & Master's in Statistics  
	Investment Banking Professional → Aspiring Data Scientist

# Variable
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [2]:
x = 5
y = 5.0
z = 'Hello World'
print(x, y, z)
print(type(x), type(y), type(z))

5 5.0 Hello World
<class 'int'> <class 'float'> <class 'str'>

In [3]:
# Casting : to specify the data type of a variable, this can be done with casting.
x = str(5)
y = int(5)
z = float(5)
x,y,z

('5', 5, 5.0)

In [4]:
# Assign multiple values

x, y, z = 'white', 'green', 'yellow'
print(x)
print(y)
print(z)

white
green
yellow

In [5]:
# One value to multiple variable

x = y = z = 'Denmark'
print(x)
print(y)
print(z)

Denmark
Denmark
Denmark

In [6]:
# Unpack a Collection : If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

countries = ['Denmark', 'Bangladesh', 'Ireland']
x, y, z = countries
print(x)
print(y)
print(z)

Denmark
Bangladesh
Ireland

In [7]:
# Output Variables : print function
x = 'I love my country.'
print(x)

I love my country.

In [8]:
x = 'I'
y = 'love'
z = 'my'
zz = 'country.'

print(x+y+z+zz)
print(x,y,z,zz)

Ilovemycountry.
I love my country.

In [9]:
x = 5
y = 6
print(x+y)

11

In [10]:
x = 5
y = 'Mango'
print(x,y) # ✅
# print(x+y) # ❌

5 Mango

In [11]:
# Global Variables :Variables that are created outside of a function are known as global variables.

x = 'Bangladesh.' # Global variable
def my_func():
    x = 'the earth.' # Local variable
    print('I love ' + x)

my_func()
print('I love '+ x)

I love the earth.
I love Bangladesh.

In [12]:
# Global Key : To create a global variable inside a function, we use the global keyword.

def my_func():
    global x
    x = 'the earth.' # Local variable
    print('I love ' + x)

my_func()
print('I love '+ x)

I love the earth.
I love the earth.

# Operators
Python divides the operators in the following groups:

- Arithmetic operators : + , - , * , / , % , ** , //
- Assignment operators  : =
- Comparison operators  : ==, !=, >, <, >=, <=
- Logical operators    : and, or, not
- Identity operators    : is, is not
- Membership operators  : in, not in
- Bitwise operators    : & (and), | (or), ^ (Xor) , ~ (Not)

In [14]:
x = 10
y = 2
x+y, x-y, x*y, x/y, x%y, x**y, x//y

(12, 8, 20, 5.0, 0, 100, 5)

In [15]:
a = 'partho'
a*2

'parthopartho'

## Operatior + if conditions

In [17]:
# short if
if x > y: print('x is greater than y')

x is greater than y

In [18]:
# short if --- else
print('x is greater than y') if x>y else print('X is less than y')

x is greater than y

In [19]:
# if ..... elif ..... else

a, b, c = 4, 5, 6

if a>b and a>c:
    print(a, 'is the biggest number.')
elif b> c:
    print(b, 'is the biggest number.')
else:
    print(c, 'is the biggest number')

6 is the biggest number

In [20]:
countries = ['Finland','Denmark','Norway', 'Italy']

if 'Denmark' in countries: print('Yes, Denmark has.')
if 'Bangladesh' not in countries: print('Bangladesh has not.')

Yes, Denmark has.
Bangladesh has not.

In [21]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)       # True — same object in memory
print(a is c)       # False — different objects with same content

print(a == c)       # True — values are equal
print(a is not c)   # True — different objects

True
False
True
True

# Data Types
| Example                                 | Data Type    |
|-----------------------------------------|--------------|
| `x = "Hello World"`                     | `str`        |
| `x = 20`                                | `int`        |
| `x = 20.5`                              | `float`      |
| `x = 1j`                                | `complex`    |
| `x = ["apple", "banana", "cherry"]`     | `list`       |
| `x = ("apple", "banana", "cherry")`     | `tuple`      |
| `x = range(6)`                          | `range`      |
| `x = {"name" : "John", "age" : 36}`     | `dict`       |
| `x = {"apple", "banana", "cherry"}`     | `set`        |
| `x = frozenset({"apple", "banana", "cherry"})` | `frozenset`  |
| `x = True`                              | `bool`       |
| `x = b"Hello"`                          | `bytes`      |
| `x = bytearray(5)`                      | `bytearray`  |
| `x = memoryview(bytes(5))`              | `memoryview` |
| `x = None`                              | `NoneType`   |

## String : Python strings are **immutable**

In [24]:
s = 'I love Abhik'
s[0], s[1], s[2], s[3], s[4]

('I', ' ', 'l', 'o', 'v')

In [25]:
b = 'Bangladesh'
b[0:3]

'Ban'

In [26]:
b[::-1] # Right to left

'hsedalgnaB'

In [27]:
b[-1] # Negative indexing

'h'

In [28]:
for x in 'Bangladesh':
    print(x)

B
a
n
g
l
a
d
e
s
h

In [29]:
print ("A" in 'Abhik')

True

In [30]:
txt = 'Bangladesh is a beautiful country.'
print ('good' not in txt)

True

### Common functions with string

In [32]:
s = 'hellow world'
len(s), max(s), min(s)

(12, 'w', ' ')

In [33]:
print(sorted(s))
print(sorted(s, reverse=True))

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w', 'w']
['w', 'w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [34]:
s.capitalize(), s.title(), s.upper(), s.lower(), s.swapcase()

('Hellow world',
 'Hellow World',
 'HELLOW WORLD',
 'hellow world',
 'HELLOW WORLD')

In [35]:
'partho'.count('p')

1

In [36]:
'partho'.find('a')

1

In [37]:
'partho'.find('z')

-1

In [38]:
'partho'.index('r')

2

In [39]:
'partho'.startswith('p')

True

In [40]:
'partho'.endswith('o')

True

In [41]:
'partho'.endswith('p')

False

In [42]:
# format
name = 'Partho'
gender = 'male'
'My name is {1} and I am a {0}.'.format(gender, name)

'My name is Partho and I am a male.'

In [43]:
# format
name = 'Partho'
gender = 'male'
'My name is {} and I am a {}.'.format(name, gender)

'My name is Partho and I am a male.'

In [44]:
a = 'partho5222' 
a.isalnum()

True

In [45]:
a.isalpha()

False

In [46]:
a.isdigit()

False

In [47]:
a.isidentifier()

True

In [48]:
# split() / join()

m = 'I am Partho'.split()
print(m)

' '.join(m)

['I', 'am', 'Partho']

'I am Partho'

In [49]:
# replace()

a = 'partho'
a.replace('p','P')

'Partho'

In [50]:
#strip() -------> remove all end spaces.

'   I am Partho    '.strip()

'I am Partho'

In [51]:
# Concatenate string

a = 'Hello'
b = 'World'

print(a+" "+b)

Hello World

In [52]:
# F-Strings ------> A placeholder can contain variables, operations, functions, and modifiers to format the value.

age = 42
print(f'My age is {age}.')

My age is 42.

In [53]:
price = 35
print(f'The price of the apple is {price:.2f} Dollars.')

The price of the apple is 35.00 Dollars.

In [54]:
print(f'Price of 4 apples will be {price * 4} Dollars.')

Price of 4 apples will be 140 Dollars.

In [55]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

### List of String Methods

| Method         | Description                                                                 |
|----------------|-----------------------------------------------------------------------------|
| `capitalize()` | Converts the first character to upper case                                  |
| `casefold()`   | Converts string into lower case                                              |
| `center()`     | Returns a centered string                                                    |
| `count()`      | Returns the number of times a specified value occurs in a string             |
| `encode()`     | Returns an encoded version of the string                                     |
| `endswith()`   | Returns true if the string ends with the specified value                     |
| `expandtabs()` | Sets the tab size of the string                                              |
| `find()`       | Searches the string for a specified value and returns its position           |
| `format()`     | Formats specified values in a string                                         |
| `format_map()` | Formats specified values in a string                                         |
| `index()`      | Searches the string for a specified value and returns its position           |
| `isalnum()`    | Returns True if all characters in the string are alphanumeric                |
| `isalpha()`    | Returns True if all characters in the string are in the alphabet             |
| `isascii()`    | Returns True if all characters in the string are ASCII characters            |
| `isdecimal()`  | Returns True if all characters in the string are decimals                    |
| `isdigit()`    | Returns True if all characters in the string are digits                      |
| `isidentifier()` | Returns True if the string is a valid identifier                           |
| `islower()`    | Returns True if all characters in the string are lower case                  |
| `isnumeric()`  | Returns True if all characters in the string are numeric                     |
| `isprintable()`| Returns True if all characters in the string are printable                   |
| `isspace()`    | Returns True if all characters in the string are whitespaces                 |
| `istitle()`    | Returns True if the string follows the rules of a title                      |
| `isupper()`    | Returns True if all characters in the string are upper case                  |
| `join()`       | Joins the elements of an iterable to the end of the string                   |
| `ljust()`      | Returns a left justified version of the string                               |
| `lower()`      | Converts a string into lower case                                            |
| `lstrip()`     | Returns a left-trimmed version of the string                                 |
| `maketrans()`  | Returns a translation table to be used in translations                       |
| `partition()`  | Returns a tuple where the string is parted into three parts                  |
| `replace()`    | Returns a string where a specified value is replaced                         |
| `rfind()`      | Searches the string for a value and returns the last position                |
| `rindex()`     | Searches the string for a value and returns the last position                |
| `rjust()`      | Returns a right justified version of the string                              |
| `rpartition()` | Returns a tuple where the string is parted into three parts                  |
| `rsplit()`     | Splits the string at the specified separator and returns a list              |
| `rstrip()`     | Returns a right-trimmed version of the string                                |
| `split()`      | Splits the string at the specified separator and returns a list              |
| `splitlines()` | Splits the string at line breaks and returns a list                          |
| `startswith()` | Returns true if the string starts with the specified value                   |
| `strip()`      | Returns a trimmed version of the string                                      |
| `swapcase()`   | Swaps case: lower becomes upper and vice versa                               |
| `title()`      | Converts the first character of each word to upper case                      |
| `translate()`  | Returns a translated string                                                  |
| `upper()`      | Converts a string into upper case                                            |
| `zfill()`      | Fills the string with a specified number of 0 values at the beginning        |

# Exam Questions on String

In [58]:
# Q. Write a Python program to count how many times the word "apple" appears in the string:
text = "apple banana apple orange apple"

# Answer :
text.count('apple')

3

In [59]:
# Q. Which method would you use to convert "HELLO" to "hello"?

# Answer :
'HELLO'.lower()

'hello'

In [60]:
# Q. Which string method splits a string into a list using a specified delimiter?
text = 'My-name-is-Partho'

# Answer :
text.split('-')

['My', 'name', 'is', 'Partho']

In [61]:
# Q. What will be the result of this code?

"-".join(["Python", "is", "fun"])
# Answer :

"Python-is-fun"

'Python-is-fun'

In [62]:
# Q. Write code to find the index of the first occurrence of the word "data" in a string.

text = 'ML needs lots of data. We need to collect this data from various sources.'
# Answer :
index = text.find('data')
print("The index of the first occurrence of the word data is", index )

The index of the first occurrence of the word data is 17

In [63]:
# Q. How can you center the string "Python" in a 20-character-wide string?

# Answer:
text = 'Python'
text.center(20)

'       Python       '

In [64]:
# Answer:
text = 'Python'
text.center(20, '*')

'*******Python*******'

In [65]:
# Q. Write a program to reverse a string using slicing.

# Answer:
text = 'country'
text[::-1]

'yrtnuoc'

In [66]:
"1\t2\t3".expandtabs(4)

'1   2   3'

In [67]:
# Q. How would you check if a string only contains numeric characters?
x = '12345'

# Answer:
x.isdigit()

True

In [68]:
# Q. How can you replace all spaces in a string with underscores?
text = 'My name is Partho.'

# Answer:
text.replace(' ','_')

'My_name_is_Partho.'

In [69]:
# Q. Write code to right-justify the string "Exam" in a 15-character space using "*" as padding.

text = "Exam"
justified_text = text.rjust(15, "*")

print(justified_text)

***********Exam

In [70]:
# Q. Write code that finds the number of vowels in a string.

# Answer:
text = 'Data Science is fun.'
vowels = 'aeiouAEIOU'
count = 0

for char in text:
    if char in vowels:
        count += 1
print('Number of vowels:', count)

Number of vowels: 7

# Booleans  :   Booleans represent one of two values: True or False.

In [72]:
print(5>4)
print(5<4)
print(5==5)

True
False
True

In [73]:
# Most values are true

print(bool('Hello'))
print(bool(15))
print(bool(['appel','banana']))
print(bool((1,2,3)))
print(bool({1,2,3}))

True
True
True
True
True

In [74]:
# False values of bool
# In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. 
# And of course the value False evaluates to False.


bool(False), bool(()), bool([]), bool({}), bool(""), bool(0), bool(None)

(False, False, False, False, False, False, False)

In [75]:
# Functions can Return a Boolean

def myFunction() :
  return True

print(myFunction())

True

In [76]:
# Python also has many built-in functions that return a boolean value, like the isinstance() function, 
# which can be used to determine if an object is of a certain data type:

x = 100
print(isinstance(x, int))

True

In [77]:
bool(0)

False

In [78]:
bool('false')

True

# Exam Questions on Boolean

Q1. What is the output of bool(0) 

Answer: False

Q2. Which of the following values evaluates to True in Python?
a) 0
b) []
c) "False"
d) None

Answer: (c)

Q3. What is the output of: 
True and False or True

Answer: True

Q4. Which Python keyword returns the opposite boolean value?
a) flip
b) reverse
c) not
d) invert

Answer: (c)

Q5. Fill in the blank:
bool("Data") == ____

Answer: True

Q6. What will be the output:
x = 10
y = 5
print(x > 5 and y < 3)

Answer: False

Q7. What will be the output?
If data = {'a': 1, 'b': 0}, which condition will evaluate to False?
a) data['a']
b) bool(data['b'])
c) not data['b']
d) data['a'] > data['b']

Answer: (b)

Q8. What will be the output?
a = False
b = True
result = a or not b

Answer: False

Q9. You have a DataFrame df with a column "Age". How do you filter rows where "Age" > 25?

Answer: df['Age']>25

Q10. Given df['Gender'] == 'Male', how do you find rows where Gender is not 'Male'?

Answer: df['Gender'] != 'Male'

Q11. Which Pandas method returns a boolean Series for missing values?
a) .isna()
b) .notna()
c) .dropna()
d) .fillna()

Answer: (a)

# Q12. In pandas, what does this return?

(df['Salary'] > 50000) & (df['Experience'] > 5)

Answer: It returns a Boolean Series of values True or False depending on the condition given.

Q13. What will be the result of:
df[df['Income'].isna()]

a) Rows where income is 0
b) Rows where income is not available
c) Rows where income is negative
d) All rows

Answer: (b)

Q14. What will this print?
a = [1, 2, 3]
if a:
    print("List is not empty")
else:
    print("List is empty")

Answer: List is not empty

Q15. Which is a correct way to check if x is between 10 and 20 inclusive?
a) x > 10 and x < 20
b) 10 <= x <= 20
c) x in range(10, 20)
d) x >= 10 or x <= 20

Answer: (b)

Q16. Convert this logic into one line using a ternary conditional:

if a > b:
    result = True
else:
    result = False

Answer: True if a>b else False

# Q17. What is returned by this function?

def check_even(n):
    return n % 2 == 0
print(check_even(4))

Answer: True

In [80]:
# Q18. Write a Python function is_positive(num) that returns True if num is greater than 0, otherwise False.

#Answer:
def is_positive(num):
    print(num>0) 

is_positive(4)

True

In [81]:
# Q19. How do you check if a string s is both alphabetic and not uppercase in one line?

# Answer:
s = 'asdf'
s.isalpha() and not s.isupper()

True

Q20. You have a DataFrame df and want to check if all values in the column "Passed" are True. What should you write?
a) df['Passed'].all()
b) df['Passed'].any()
c) all(df['Passed'] == True)
d) Both a and c

Answer:  (d)

# The End