#  Data Science Learning Journey  
*Curiosity to Capability â€” One Notebook at a Time*

---
Compiled and authored by **Partho Sarothi Das**   
	Dhaka, Bangladesh  
	Bachelor's & Master's in Statistics  
	Investment Banking Professional â†’ Aspiring Data Scientist

# Python Collections (Arrays)_1

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

# List  
Lists are used to store multiple items in a single variable.

In [3]:
L = [20, 'Partho', 3.5, [2,3,4]]

In [4]:
# Index
L[0], L[1], L[2], L[3]

(20, 'Partho', 3.5, [2, 3, 4])

In [5]:
a = []           # empty
a = [1,2,3,4]    # Homo
a = [[1,2,3],[4,5,6]] # 2D
a= [[[1,2],[3,4],[5,6]]] # 3D
a = [a, True, 4.6, 'python'] # Hetrogeneous

In [6]:
#Type Conversion
a = list('Data Science')
a

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [7]:
# list() Constructor

L = list((1,2,3,4))
L

[1, 2, 3, 4]

In [8]:
# type()

print(type(L))

<class 'list'>

# Access List Items

In [10]:
# List items are indexed and can be accessed by referring to the index number:

L = ["apple", "banana", "cherry"]
print(L[1])

banana

In [11]:
# Negative Indexing :   -1 refers to the last item, -2 refers to the second last item etc.

print(L[-1])

cherry

In [12]:
# Range of Indexes

L = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(L[2:5])

# Note: The search will start at index 2 (included) and end at index 5 (not included).

['cherry', 'orange', 'kiwi']

In [13]:
L[:4]

['apple', 'banana', 'cherry', 'orange']

In [14]:
L[3:]

['orange', 'kiwi', 'melon', 'mango']

In [15]:
# Range of Negative Indexes

L[-3:-1]

['kiwi', 'melon']

In [16]:
L[-5:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [17]:
L[:-3]

['apple', 'banana', 'cherry', 'orange']

In [18]:
# Check if Item Exists

L = ["apple", "banana", "cherry"]
if "apple" in L:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Change List Items

To change the value of a specific item, refer to the index number:

In [20]:
L = ["apple", "banana", "cherry"]
L[0] = 'mango'
L

['mango', 'banana', 'cherry']

In [21]:
L[-1] = 'jackfruit'
L

['mango', 'banana', 'jackfruit']

In [22]:
# Change a Range of Item Values

L = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

L[1:3] = ['jackfruit', 'grape']
L

['apple', 'jackfruit', 'grape', 'orange', 'kiwi', 'mango']

In [23]:
# If insert more items than replace, the new items will be inserted where specified, and the remaining items will move accordingly:
L = ["apple", "banana", "cherry"]
L[1:2] = ["blackcurrant", "watermelon"]
L

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [24]:
# If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

L[1:5] = ['mango']
L

['apple', 'mango']

# Insert items in a list

In [26]:
# append() -----> Add an item at the end.

L = [1,2,3,4,5]
L.append(6)
L

[1, 2, 3, 4, 5, 6]

In [27]:
L = [1,2,3,4,5]
L.append([6,7,8])
L

[1, 2, 3, 4, 5, [6, 7, 8]]

In [28]:
# extend() ------> Add another list with list

L = [1,2,3,4,5]
L.extend([7,8,9])
L

[1, 2, 3, 4, 5, 7, 8, 9]

In [29]:
L1 = [1,2,3]
L2 = [4,5,6]

L1.extend(L2)
L1

[1, 2, 3, 4, 5, 6]

In [30]:
# extend() method -----> can add any iterable object (tuples, sets, dictionaries etc.).

L = [1,2,3]
tup = (4,5,6)

L.extend(tup)
L

[1, 2, 3, 4, 5, 6]

In [31]:
# extend() with sets
L = [1,2,3]
s = {4,5,6}
L.extend(s)
L

[1, 2, 3, 4, 5, 6]

In [32]:
L = ['apple', 'orange']
d = {
    1:'mango',
    2:'jackfruit'
}

L.extend(d)
L

['apple', 'orange', 1, 2]

In [33]:
# insert() ------> To insert a list item at a specified index

L = [1,2,3,4,5]
L.insert(1, 100)
L

[1, 100, 2, 3, 4, 5]

# Removing list items

In [35]:
# Using index

L = [1,2,3,4,5]
del L[0]
L

[2, 3, 4, 5]

In [36]:
# Using negative index

L = [1,2,3,4,5]
del L[-1]
L

[1, 2, 3, 4]

In [37]:
# Using slicing

L = [1,2,3,4,5]
del L[1:3]
L

[1, 4, 5]

In [38]:
# Delect entire list

L = [1,2,3,4,5]
del L

In [39]:
# remove() method ------> removes the specified item.

L = [1,2,3,4,5]
L.remove(2)
L

[1, 3, 4, 5]

In [40]:
# pop() ---> Remove Specified Index

L = [1,2,3,4]
L.pop(1)
L

[1, 3, 4]

In [41]:
# Last value remove

L = [1,2,3,4]
L.pop()
L

[1, 2, 3]

In [42]:
# clear() -----> clear all the contents.

L = [1,2,3,4]
L.clear()
L

[]

# List Functions

len, min, max, sum, sorted

In [44]:
# len() -----> Number of items

L = [1,5,8,2,4,1,9,4]
len(L)

8

In [45]:
# min() -------> Minimum value

L = [1,5,8,2,4,1,9,4]
min(L)

1

In [46]:
# max() -----> Maximum value

L = [1,5,8,2,4,1,9,4]
max(L)

9

In [5]:
# sum() -----> sum of the values

L = [1,2,3]
sum(L)

6

In [47]:
# sorted() -------> arange ascending order (Temporary)

L = [1,5,8,2,4,1,9,4]
sorted(L)

[1, 1, 2, 4, 4, 5, 8, 9]

In [48]:
# sorted(reverse = True) -------> arange decending order (Temporary)

L = [1,5,8,2,4,1,9,4]
sorted(L, reverse = True)

[9, 8, 5, 4, 4, 2, 1, 1]

In [49]:
# sort() --------> arange ascending order (Permanent)

L = [1,5,8,2,4,1,9,4]
L.sort()
L

[1, 1, 2, 4, 4, 5, 8, 9]

In [50]:
# reverse() -----------> arange decending order (Permanent)

L.reverse()
L = [1,5,8,2,4,1,9,4]
L

[1, 5, 8, 2, 4, 1, 9, 4]

In [51]:
# count() ----------> find the total number of a specific value

L = [1,2,4,1,3,5,1,7,4,4,9]
L.count(1)

3

In [52]:
# index()  ---------> find the index no of a specific value

L = ['apple', 'banana', 'orange']
L.index('banana')

1

# join/concatenation operations on lists

In [54]:
# Addition ----> concatenation/ Join list

L1 = [1,2,3]
L2 = [4,5,6]

L1+L2

[1, 2, 3, 4, 5, 6]

In [55]:
# Multiplication

L1 = ['apple', 'orange']
L1*2

['apple', 'orange', 'apple', 'orange']

# Copy a List

In [57]:
# We cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, 
# and changes made in list1 will automatically also be made in list2.

L = [1,2,3,4,5]
L1 = L  # Not the proper way to copy

L1.append(10)
print('L1=',L1)
print('L=', L)

L1= [1, 2, 3, 4, 5, 10]
L= [1, 2, 3, 4, 5, 10]

In [58]:
# copy() ------> to copy list

L = [1,2,3,4,5]
L1 = L.copy()
print('Previous: L1=',L1)

L1.append(10)
print('After append: L1=',L1)
print('After append: L=',L)

Previous: L1= [1, 2, 3, 4, 5]
After append: L1= [1, 2, 3, 4, 5, 10]
After append: L= [1, 2, 3, 4, 5]

In [59]:
# slice Operator (:) ------> to copy list

L = ["apple", "banana", "cherry"]
L1 = L[:]
print(L1)

['apple', 'banana', 'cherry']

# Loop Lists

In [61]:
# for loop
L = ['apple','banana','orange']
for x in L:
    print(x)

apple
banana
orange

In [62]:
# Loop Through the Index Numbers

L = ['apple', 'banana', 'orange']
for i in range(len(L)):
    print(L[i])

apple
banana
orange

In [63]:
# Using a While Loop

L = ['apple', 'banana', 'orange']
i = 0
while i < len(L):
    print(L[i])
    i +=1

apple
banana
orange

In [64]:
# Looping Using List Comprehension

L = [1,2,3,4]
[print(x) for x in L]

1
2
3
4

[None, None, None, None]

# Looping Using List Comprehension  

The Syntax:  
newlist = [expression **for** item **in** iterable **if** condition == **True**]

In [66]:
# Normal function

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [67]:
# List comprehension

fruits = ['apple','banana','cherry','kiqi','mango']
newlist = [x for x in fruits if 'a' in x]
newlist

['apple', 'banana', 'mango']

In [68]:
# List comprehension

fruits = ['apple','banana','cherry','kiqi','mango']
L = [x for x in fruits if x.startswith('a')]
L

['apple']

In [69]:
# List comprehension

fruits = ['apple','banana','cherry','kiqi','mango']
L = [x for x in fruits if x.endswith('o')]
L

['mango']

In [70]:
# List comprehension

fruits = ['apple','banana','cherry','kiqi','mango']
L = [x if x!='banana' else 'orange' for x in fruits]
L

['apple', 'orange', 'cherry', 'kiqi', 'mango']

In [71]:
# List comprehension

L = ['Partho', '42', 'Abhik', '5', 'Sherena', '43']
L1 = [x for x in L if x.isdigit()]
L1

['42', '5', '43']

In [72]:
# List comprehension

L = ['Partho', '42', 'Abhik', '5', 'Sherena', '43']
L1 = [x for x in L if x.isalpha()]
L1

['Partho', 'Abhik', 'Sherena']

In [73]:
# List comprehension

newlist = [x for x in fruits]
newlist

['apple', 'banana', 'cherry', 'kiqi', 'mango']

In [74]:
# List comprehension

L = [x for x in range(1, 11)]
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
L = [1,2,3,4,5,6,7,8,9,10]

even = [x for x in L if x%2 == 0]
even

[2, 4, 6, 8, 10]

In [76]:
odd = [x for x in L if x%2 != 0]
odd

[1, 3, 5, 7, 9]

In [77]:
# List comprehension

L = [1,2,3,8,6,7,0,2,1,3,8,9,10]

L1 = [x for x in L if x<5]
L1

[1, 2, 3, 0, 2, 1, 3]

In [78]:
# List comprehension

fruits = ['apple','banana','cherry','kiqi','mango']

upper = [x.upper() for x in fruits]
upper

['APPLE', 'BANANA', 'CHERRY', 'KIQI', 'MANGO']

In [79]:
# List comprehension

L = [1,2,3,4,5]
L1 = [x+2 for x in L]
L1

[3, 4, 5, 6, 7]

In [80]:
# List comprehension

L = [1,2,3,4,5]
L1 = [x**2 for x in L]
L1

[1, 4, 9, 16, 25]

In [81]:
# List comprehension

L = [x for x in range(1,51) if x%5 ==0]
L

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [82]:
# zip() ---------> zip two lists

L1 = [1,2,3]
L2 = [4,5,6]
list(zip(L1,L2))

[(1, 4), (2, 5), (3, 6)]

# Exam Questions

### ðŸ”¹ **Basic Level (1â€“10): Fundamentals**

In [85]:
# 1. What is a list in Python? How does it differ from a tuple?

In [86]:
# 2. How do you create an empty list in Python?

# Answer:
L= []
L

[]

In [87]:
# 3. Write a Python expression to append the value 100 to a list named `data`.

# Answer:
data = [1,2,3]
data.append(100)
data

[1, 2, 3, 100]

In [88]:
# 4. How do you remove the first element from a list `numbers`?

# Answer:
numbers = [1,2,3,4,5]
numbers.pop(0)
numbers

[2, 3, 4, 5]

In [89]:
# 5. Write a Python code to reverse the elements in a list named `a`.

# Answer:
a = [3,4,7,1,8,3,7]
a.reverse()
a

[7, 3, 8, 1, 7, 4, 3]

In [90]:
# 6. How can you find the length of a list called `values`?

# Answer:
values = [1,2,3,4,5]
len(values)

5

In [91]:
# 7. Write a list comprehension to create a list of squares of numbers from 1 to 10.

# Answer:
L = [x**2 for x in range(1,11)]
L

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [92]:
# 8. What is the output of `['a', 'b', 'c'] * 2`?

# Answer: ['a', 'b', 'c', 'a', 'b', 'c']

In [93]:
# 9. How can you check whether the element 50 exists in a list `scores`?

# Answer:
scores = [1,2,3,4,50]
[print('50 is in the list') if x in scores else print('50 is not in list')]

50 is not in list

[None]

In [94]:
# 10. Explain the difference between `.append()` and `.extend()` methods in lists.

# Answer:

### ðŸ”¹ **Intermediate Level (11â€“20): Indexing, Slicing, Operations**

In [96]:
# 11. Write a Python code to extract the last 3 elements of a list `my_list`.

# Answer:
my_list = [1,2,3,4,5,6,7,8]
my_list[-3:]

[6, 7, 8]

In [97]:
# 12. If `lst = [10, 20, 30, 40]`, what is the output of `lst[-2]`?

# Answer:  30
lst = [10, 20, 30, 40]
lst[-2]

30

In [98]:
# 13. What is the result of `list('data')`?

# Answer: ['d', 'a', 't', 'a']
list('data')

['d', 'a', 't', 'a']

In [99]:
# 14. Modify the third element of a list `x = [1, 2, 3, 4]` to 99.

# Answer:
x = [1, 2, 3, 4]
x[2] = 99
x

[1, 2, 99, 4]

In [100]:
# 15. Combine two lists `a = [1, 2]` and `b = [3, 4]` into one list.

# Answer:
a = [1, 2]
b = [3, 4]
a+b

[1, 2, 3, 4]

In [101]:
# 16. How do you insert an element `500` at index `2` of the list `nums`?

# Answer:
nums = [1,2,3,4,5]
nums.insert(2,500)
nums

[1, 2, 500, 3, 4, 5]

In [102]:
# 17. Remove all occurrences of `0` from this list:
x = [0, 1, 0, 2, 0, 3]

# Answer:
x = [i for i in x if i!=0]
x

[1, 2, 3]

In [103]:
# 18. Sort the list in descending order.
items = [3, 1, 5, 2]

# Answer:
sorted(items, reverse=True)

[5, 3, 2, 1]

In [104]:
# 19. Explain what happens if you try to access an index that doesnâ€™t exist in a list.

# Answer: IndexError: list index out of range
L = [1,2,3,4]
# L[10]

In [105]:
# 20. Write a function that returns the sum of all even numbers in a list.
L = [1,2,3,4,5,6,7,8,9,10]

# Answer:
def sum_even_number(anylist):
    sum=0
    for x in anylist:
        if x%2 == 0:
            sum +=x
    return sum

sum_even_number(L)

30

### ðŸ”¹ **Advanced Level (21â€“30): Data Science Applications**

In [107]:
# 21. How can you convert a list of numbers to a NumPy array? Why is this useful?
L = [1,2,3,4,5]

# Answer:
import numpy as np
L_numpy = np.array(L)
L_numpy

array([1, 2, 3, 4, 5])

In [108]:
# 22. Given `data = ['5', '10', '15']`, convert it to a list of integers.
data = ['5', '10', '15']

# Answer:
data_int = [int(x) for x in data]
data_int

[5, 10, 15]

In [109]:
# 23. Write a list comprehension to filter out only negative numbers from a list.
L = [1,2,-1,-2,3,4,5,-5,-9]

# Answer:
L_negative = [x for x in L if x<0]
L_negative

[-1, -2, -5, -9]

In [110]:
# 24. Flatten the following tnested list into  [1, 2, 3, 4, 5]
L = [[1, 2], [3, 4], [5]]

# Answer:
flatten = [x for sublist in L for x in sublist]
flatten

[1, 2, 3, 4, 5]

In [111]:
# 25. How would you remove duplicate values from a list while preserving the order?
data = [1, 2, 2, 3, 1, 4]

# Answer:
def remove_duplicates(anylist):
    seen = set()
    return [x for x in anylist if not(x in seen or seen.add(x))]

remove_duplicates(data)

[1, 2, 3, 4]

In [112]:
# 26. Given a list of strings, write a function to return the longest string.
L = ['data','science','python','pandas','numpy']

# Answer:
max(L, key=len)

'science'

In [113]:
# 27. How can you calculate the frequency of each unique element in a list?

# Answer:
data = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
frequency = {}
for item in data:
    frequency[item] = frequency.get(item, 0) + 1
print(frequency)

{'apple': 3, 'banana': 2, 'orange': 1}

In [114]:
# 28. Use a list to store values of a time series (e.g., daily temperature), and write code to find the average.
temperatures = [30.5, 31.0, 29.8, 32.2, 30.0, 28.9, 31.5]

# Answer:
average_temp = sum(temperatures) / len(temperatures)
print(f"Average temperature: {average_temp:.2f}Â°C")

Average temperature: 30.56Â°C

In [115]:
# 29. Given a list of dictionaries representing people, extract a list of all ages.
people = [{"name": "A", "age": 25}, {"name": "B", "age": 30}, {"name": "C", "age": 22}]

# Answer:
ages = [person["age"] for person in people]
print(ages)

[25, 30, 22]

In [116]:
# If want to extract the names
names = [person["name"] for person in people]
names

['A', 'B', 'C']

In [117]:
# 30. Use a list to simulate a queue and perform enqueue and dequeue operations.

# Answer:
queue = []

# Enqueue operations
queue.append('A')
queue.append('B')
queue.append('C')
print("Queue after enqueues:", queue)

# Dequeue operations
first = queue.pop(0)
print("Dequeued:", first)
print("Queue after dequeue:", queue)

Queue after enqueues: ['A', 'B', 'C']
Dequeued: A
Queue after dequeue: ['B', 'C']

# The End