#  Data Science Learning Journey  
*Curiosity to Capability — One Notebook at a Time*

---
Compiled and authored by **Partho Sarothi Das**   
	Dhaka, Bangladesh  
	Bachelor's & Master's in Statistics  
	Investment Banking Professional → Aspiring Data Scientist

# Python Collections (Arrays)_2

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Tuple

Tuples are used to store multiple items in a single variable.
- Ordered
- Unchangeble, immutable , 
- Allow Duplicate

In [3]:
t = ('apple','banana','orange')
t

('apple', 'banana', 'orange')

In [4]:
t1 = ()        # emply
t2 = ('hello',)  # a tuple with single item ---- > need to add a comma at the end
t3 = (1,2,3,4)  # Homo
t4 = (1, 2.5, True, [1,2,3])   # hetro
t5 = (1,2,3, (5,6))  # Tuple

In [5]:
#Type Conversion

t = tuple('hello')
t

('h', 'e', 'l', 'l', 'o')

In [6]:
# type()

a = (1,2,3)
type(a)

tuple

In [7]:
# tuple() Constructor

t = tuple(('apple', 'banana', 'orange'))
t

('apple', 'banana', 'orange')

# Access tuple items

In [9]:
# Indexing

t = ('apple','banana','orange')
t[0]

'apple'

In [10]:
# Negative Indexing

t = ('apple','banana','orange')
t[-1]

'orange'

In [11]:
# Slicing

t = ('apple','banana','orange', 'mango', 'jackfruit')
t[1:4]

('banana', 'orange', 'mango')

In [12]:
# Negative Slicing

t = ('apple','banana','orange', 'mango', 'jackfruit')
t[-4:-2]

('banana', 'orange')

In [13]:
t[2:]

('orange', 'mango', 'jackfruit')

In [14]:
t[:3]

('apple', 'banana', 'orange')

In [15]:
# Check if Item Exists

t = ("apple", "banana", "cherry")
if "apple" in t:
  print("Yes, 'apple' is in the fruits")

Yes, 'apple' is in the fruits

In [83]:
# Check if Item Exists

t = (1,2,3,4,5,6,7)
5 in t

True

# tuple < --- conversion --- > list

In [17]:
# Tuple to List conversion

t = (1,2,3)
L = list(t)
L

[1, 2, 3]

In [18]:
# List to Tuple conversion

L = [1,2,3]
t = tuple(L)
t

(1, 2, 3)

# Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [20]:

t = (1,2,3,4)
L = list(t)
L[0] = 100
t = tuple(L)
t

(100, 2, 3, 4)

# Add Items

In [22]:
# tuple convert to list --->  made change -----> list convert to tuple

t = (1,2,3,4)
L = list(t)
L.append(20)
t = tuple(L)
t

(1, 2, 3, 4, 20)

In [23]:
# Add tuple to a tuple

t = (1,2,3,4)
t1 = (20,)
t = t + t1
t

(1, 2, 3, 4, 20)

# Remove Items

In [25]:
# tuple convert to list --->  made change -----> list convert to tuple

t = (1,2,3,4)
L = list(t)
L.remove(4)
t = tuple(L)
t

(1, 2, 3)

# Delete tuple

In [27]:
t = (1,2,3,4)
del t

# List Functions

len, min, max, sum, sorted

In [29]:
# len() -----> Number of items

t = (1,2,3,4)
len(t)

4

In [30]:
# min() -------> Minimum value

t = (1,5,8,2,4,1,9,4)
min(t)

1

In [31]:
# max() -------> Maximum value

t = (1,5,8,2,4,1,9,4)
max(t)

9

In [32]:
# sum() -----> sum of items

t = (1,2,3,4)
sum(t)

10

In [33]:
# sorted() -------> arange ascending order (Temporary)

t = (1,5,8,2,4,1,9,4)
sorted(t)

[1, 1, 2, 4, 4, 5, 8, 9]

In [34]:
# sorted(reverse = True) -------> arange decending order (Temporary)

t = (1,5,8,2,4,1,9,4)
sorted(t, reverse = True)

[9, 8, 5, 4, 4, 2, 1, 1]

In [35]:
# count() ----------> find the total number of a specific value

t = (1,2,4,1,3,5,1,7,4,4,9)
t.count(1)

3

In [36]:
# index()  ---------> find the index no of a specific value

t = ('apple', 'banana', 'orange')
t.index('banana')

1

# join/concatenation operations

In [38]:
# Addition ----> concatenation/ Join list

t1 = (1,2,3)
t2 = (4,5,6)

t1+t2

(1, 2, 3, 4, 5, 6)

In [39]:
# Multiplication

t = (1,2,3)
t*2

(1, 2, 3, 1, 2, 3)

# Unpacking a Tuple

In [41]:
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

t = ("apple","banana","orange")
t

('apple', 'banana', 'orange')

In [42]:
# Unpacking a tuple:

(x,y,z) = t
print(x)
print(y)
print(z)

apple
banana
orange

In [43]:
# Using Asterisk*

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(x, y, *z) = fruits

print(x)
print(y)
print(z)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [44]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### ✅ **Multiple Choice Questions (MCQ)**

1. **Which of the following is a valid tuple in Python?**  
   a) `[1, 2, 3]`   
   b) `{1, 2, 3}`       
   c) `(1, 2, 3)`  
   d) `"1, 2, 3"`     
   **Answer:** c

2. **What is the output of `type((5,))`?**    
   a) `<class 'list'>`    
   b) `<class 'tuple'>`    
   c) `<class 'int'>`   
   d) `<class 'dict'>`   
   **Answer:** b   
   
3. **Tuples are:**     
   a) Mutable     
   b) Immutable    
   c) Changeable    
   d) Unordered   
   **Answer:** b   
   
4. **Which method is not available for tuples?**   
   a) `count()`    
   b) `index()`   
   c) `append()`   
   d) `len()`    
   **Answer:** c   
   
5. **What does the following code output? `t = (1, 2, 3); print(t[1])`**    
   a) 1   
   b) 2   
   c) 3     
   d) Error      
   **Answer:** b     
    
6. **How do you create an empty tuple?**    
   a) `[]`    
   b) `{}`    
   c) `()`    
   d) `None`     
   **Answer:** c    
   
7. **Which of the following will result in an error?**    
   a) `x = (1, 2, 3)`    
   b) `x[0] = 10`    
   c) `len((1,))`     
   d) `x = tuple("abc")`     
   **Answer:** b    
   
8. **Which of the following can be used to convert a list into a tuple?**    
   a) `list()`   
   b) `set()`   
   c) `dict()`    
   d) `tuple()`    
   **Answer:** d   
   
9. **Tuples can be used as dictionary keys because they are:**    
   a) Mutable   
   b) Lists     
   c) Immutable    
   d) Functions    
   **Answer:** c   
    
10. **What is the result of `len((1, 2, (3, 4)))`?**   
    a) 2   
    b) 3   
    c) 4     
    d) Error   
    **Answer:** b    

---

### ✅ **True/False Questions**  
  
11. Tuples can contain other tuples.  
    **Answer:** True   

12. You can use the `append()` method with tuples.  
    **Answer:** False   

13. Tuples can contain both integers and strings.    
    **Answer:** True   

14. You can remove elements from a tuple directly.    
    **Answer:** False   

15. Tuples are ordered collections.    
    **Answer:** True   

16. Tuples use square brackets `[]`.   
    **Answer:** False   

17. Tuple elements can be accessed using indexes.   
    **Answer:** True   

18. `tuple("IBM")` results in `('I', 'B', 'M')`.     
    **Answer:** False (Correct: `('I', 'B', 'M')`)   

19. Tuples can store duplicate values.   
    **Answer:** True   

20. Tuples support slicing like lists.   
    **Answer:** True   

---

### ✅ **Code-Based Questions**      

21. **What is the output of this code?**

```python
x = (1, 2, 3)
print(x[-1])
```

**Answer:** 3

22. **Write a tuple containing only the number 7.**   
    **Answer:** `(7,)`   

23. **Convert the list `[1, 2, 3]` to a tuple.**    
    **Answer:** `tuple([1, 2, 3])`    

24. **What is the output?**   

```python
t = (1, 2, 3, 2)
print(t.count(2))
```

**Answer:** 2

25. **What will `t.index(3)` return for `t = (1, 2, 3, 4)`?**    
    **Answer:** 2   

26. **Is the following statement valid? Why or why not?**

```python
t = (1, 2, 3)
t[0] = 9
```

**Answer:** No. Tuples are immutable; you can't change elements.   

27. **What is the result of `tuple("abc")`?**   
    **Answer:** `('a', 'b', 'c')`   

28. **Write code to unpack the tuple `(1, 2, 3)` into variables `a`, `b`, and `c`.**   
    **Answer:** `a, b, c = (1, 2, 3)`   

29. **Write a tuple that contains a list as its element.**   
    **Answer:** `(1, [2, 3], 4)`   

30. **Check if the element 5 is in the tuple `t = (1, 3, 5, 7)`.**   
    **Answer:** `5 in t`

# The End