#  Data Science Learning Journey  
*Curiosity to Capability â€” One Notebook at a Time*

---
Compiled and authored by **Partho Sarothi Das**   
	Dhaka, Bangladesh  
	Bachelor's & Master's in Statistics  
	Investment Banking Professional â†’ Aspiring Data Scientist

# Python Collections (Arrays)_3

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Sets

A Set is an unordered collection of items.  
Characterestic:
- Unordered
- Immutable
- No Duplicates
- Can't contain mutable data types

In [4]:
s = {'apple', 'mango', 'jackfruite'}

In [5]:
# empty set

s = set()
s

set()

In [6]:
# 1D / Homo
s1 ={1,2,3}
s1

{1, 2, 3}

In [7]:
s = {1, 'discipline', 4.5, (1,2,3)}
s

{(1, 2, 3), 1, 4.5, 'discipline'}

In [8]:
s = set([1,2,3])
s

{1, 2, 3}

In [9]:
# Duplicate value not allowed
s = {1,1,2,2,3,3}
s

{1, 2, 3}

# error
s2 = {1,2,3,{4,5}}  

# Note: sets in Python cannot contain other sets (i.e., they must contain only hashable (immutable) types).

# error

s = {1,2,[1,4]}
s

In [10]:
# Unordered

s1 = {1,2,3}
s2 = {3,2,1}

print('s1', s1)
print('s2', s2)

s1 == s2

s1 {1, 2, 3}
s2 {1, 2, 3}

True

In [11]:
# True and 1 is considered the same value:

s = {True,1}
s

{True}

In [12]:
# False and 0 is considered the same value:

s = {0, False}
s

{0}

In [86]:
# type()

s = {1,2,3}
type(s)

set

# Access List Items

You cannot access items in a set by referring to an index or a key.

In [14]:
# Loop
s = {'Denmark', 'Ireland', 'Spain'}
for x in s:
    print(x)

Denmark
Spain
Ireland

In [15]:
# Check if "Denmark" is present in the set:

'Denmark' in s

True

In [16]:
# Check if "Denmark" NOT is present in the set:

'Denmark' not in s

False

# Insert items in a set

Once a set is created, you cannot change its items, but you can add new items.

In [18]:
# add() -------> Add an item to a set

s = {1,2,3}
s.add(5)
s

{1, 2, 3, 5}

In [19]:
# update() -------> Add Sets

s = {1,2,3,4}
s1 = {'a','b','c'}
s.update(s1)
s

{1, 2, 3, 4, 'a', 'b', 'c'}

In [20]:
# update() --------> Add Any Iterable

s = {1,2,3}
L = [7,8,9]
s.update(L)
s

{1, 2, 3, 7, 8, 9}

# Removing items

In [22]:
# remove() -------> To remove an item in a set

s = {1,2,3,4}
s.remove(2)
s

# Note: If the item to remove does not exist, remove() will raise an error.

{1, 3, 4}

In [23]:
# discard() -------> To remove an item in a set

s = {1,2,3,4}
s.discard(2)
s

# Note: If the item to remove does not exist, remove() will NOT raise an error.

{1, 3, 4}

In [24]:
# pop() -------> To remove a Arbitrary (not index-based, not random) item

s = {1,2,3,4,5,6,7,8}
s.pop()
s

{2, 3, 4, 5, 6, 7, 8}

In [25]:
# clear() -------> method empties the set:

s = {1,2,3}
s.clear()
s

set()

# del -----> keyword will delete the set completely

s = {1,2,3}
del s
s

# Set Functions

In [27]:
# len() -----> Number of items

s = {1,2,3,4,5}
len(s)

5

In [28]:
# min() -----> minimum value

s = {1,2,3,4,5}
min(s)

1

In [29]:
# max() -----> maximum value

s = {1,2,3,4,5}
max(s)

5

In [30]:
# sum() -----> total of the values

s = {1,2,3,4,5}
sum(s)

15

In [31]:
# sorted -----> 

s = {1,2,3,4,5}
sorted(s, reverse = True)

[5, 4, 3, 2, 1]

In [32]:
# union() -----> Original set will not change

s = {1,2,3,4,5}
p = {4,5,6,7,8}
s.union(p)

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
# update() ----> Original set will change

s = {1,2,3,4,5}
p = {4,5,6,7,8}
s.update(p)
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
# intersection() ------> Original set will not change

s = {1,2,3,4,5}
p = {4,5,6,7,8}
s.intersection(p)

{4, 5}

In [35]:
# intersection_update() ------> Original set will change

s = {1,2,3,4,5}
p = {4,5,6,7,8}
s.intersection_update(p)
s

{4, 5}

In [36]:
# difference()  ------------> Original set will not change

s = {1,2,3,4,5}
p = {4,5,6,7,8}
s.difference(p)

{1, 2, 3}

In [37]:
# difference_update()  ------------> Original set will change

s = {1,2,3,4,5}
p = {4,5,6,7,8}
s.difference_update(p)
s

{1, 2, 3}

In [38]:
# symmetric_difference() -------> Original set will not change

s = {1,2,3,4,5}
p = {4,5,6,7,8}
s.symmetric_difference(p)

{1, 2, 3, 6, 7, 8}

In [39]:
# symmetric_difference() -------> Original set will not change

s = {1,2,3,4,5}
p = {4,5,6,7,8}

s^p

{1, 2, 3, 6, 7, 8}

In [40]:
# symmetric_difference_update() -------> Original set will change

s = {1,2,3,4,5}
p = {4,5,6,7,8}
s.symmetric_difference_update(p)
s

{1, 2, 3, 6, 7, 8}

In [41]:
# isdisjoint() ----> There are no common items.

s = {1,2,3,4,5}
p = {4,5,6,7,8}
s.isdisjoint(p)

False

In [42]:
# issubset() -------> if all items of p has in s, p will be subset of s.

s = {1,2,3,4,5}
p = {4,5}
p.issubset(s)

True

In [43]:
# issuperset() -------> if all items of p has in s, s will be superset of p.

s = {1,2,3,4,5}
p = {4,5}
s.issuperset(p)

True

# Copy a set

In [45]:
s1 = {1,2,3,4}
s2 = s1.copy()
s2

{1, 2, 3, 4}

# Questions

# ðŸ”¹ **Basic Level (1â€“10)**

In [48]:
1. What is a set in Python? How is it different from a list?

Init signature: list(iterable=(), /)
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.
Type:           type
Subclasses:     _List, _HashedSeq, StackSummary, _Threads, ConvertingList, DeferredConfigList, _ymd, _Accumulator, SList, _ImmutableLineList, ...

In [49]:
# 2. Create a set with values: 1, 2, 3, 2, 4. Print it.

# Answer:
s = {1,2,3,2,4}
print(s)

{1, 2, 3, 4}

In [50]:
# 3. How can you add an element `5` to a set `s`?

# Answer:
s = {1,2,3,4}
s.add(5)
s

{1, 2, 3, 4, 5}

In [51]:
# 4. Remove an element from a set without raising an error if the element doesnâ€™t exist.
s = {1,2,3,4,5}

# Answer:
s.discard(3)
s
s.discard(100)
s

{1, 2, 4, 5}

In [52]:
# 5. Check if the element `7` is in the set `{2, 4, 6, 8}`.
s = {2,4,6,8}

# Answer:
7 in s

False

In [53]:
# 6. What will be the output of:
"""
   python
   s = {1, 2, 3}; s.add(2); print(s)
"""
# Answer:
s = {1,2,3}

In [54]:
# 7. Write a program to find the union of two sets.
s1 = {1,2,3,4,5}
s2 = {4,5,6,7}

# Answer:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [55]:
# 8. Write a program to find the intersection of two sets.
s1 = {1,2,3,4,5}
s2 = {4,5,6,7}

# Answer:
s1.intersection(s2)

{4, 5}

In [56]:
# 9. Use set to remove duplicates from the list: `[1, 2, 2, 3, 4, 4, 5]`.
L = [1, 2, 2, 3, 4, 4, 5]

# Answer:
s = set(L)
L = list(s)
L

[1, 2, 3, 4, 5]

In [57]:
# 10. What is the difference between `discard()` and `remove()` methods?

# Answer:

# ðŸ”¹ **Intermediate Level (11â€“20)**

In [59]:
# 11. Explain the result of the following code:
"""
python
a = {1, 2, 3}; b = {3, 4, 5}; print(a - b)
"""
a = {1,2,3}
b = {3,4,5}
a-b

{1, 2}

In [60]:
# 12. What will `a ^ b` return for `a = {1,2,3}` and `b = {3,4,5}`?
a = {1,2,3}
b = {3,4,5}

# Answer: {1,2,4,5}
a^b

{1, 2, 4, 5}

In [61]:
# 13. Create two sets from two lists and find elements common to both.

# Answer:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7}
s1.intersection(s2)

{4, 5}

In [62]:
# 14. Given a string, return the number of unique characters using a set.

# Answer:
a = 'apple'
s = len(set(a))
s

4

In [63]:
# 15. Convert the list `[10, 20, 30, 20, 10]` into a set and then back to a list.
L = [10, 20, 30, 20, 10]

# Answer:
s = set(L)
print(s)
L = list(s)
print(L)

{10, 20, 30}
[10, 20, 30]

In [64]:
# 16. Find all elements present in one set but not in another.
s1 = {1,2,3,4,5,6,7}
s2 = {5,6,7,8,9}

# Answer:
s1-s2

{1, 2, 3, 4}

In [65]:
# 17. Given a DataFrame column with repeated values, get the unique values using a set.

# Answer:
import pandas as pd

df = pd.DataFrame({
    'city': ['Dhaka', 'Chittagong', 'Dhaka', 'Khulna', 'Rajshahi', 'Khulna']
})

# Get unique values using set
unique_cities = set(df['city'])

print(unique_cities)

{'Khulna', 'Chittagong', 'Dhaka', 'Rajshahi'}

In [66]:
# 18. Check if one set is a subset of another.

# Answer:
s1 = {1,2,3,4,5,6}
s2 = {1,3,5}
s2.issubset(s1)

True

In [67]:
# 19. Create a set from user input and print all values in sorted order.

# Answer:
user_input = input('Enter multiple values separated by spaces:')
values = user_input.split()
unique_values = set(values)
sorted_values = sorted(unique_values)
sorted_values

Enter multiple values separated by spaces: 9 8 7 2 5 23 8 5

['2', '23', '5', '7', '8', '9']

In [68]:
# 20. What is the output of: s = set(); s.add((1,2)); print(s)

# Answer: 
s = set()
s.add((1,2))
s

{(1, 2)}

# ðŸ”¹ **Advanced / Data Science-Oriented (21â€“30)**

In [70]:
# 21. How can sets help in handling categorical variables in a dataset?

# 22. Given a DataFrame column `df['city']`, how can you count the number of unique cities using a set?

Answer: number_unique_cities = len(set(df['city']))

In [71]:
# 23. Suppose you have two lists of feature names. Find features common to both and unique to each using set operations.

# Answer:
f1 = ['name','age','gender','country']
f2 = ['name','age','city','married']

f1 = set(f1)
f2 = set(f2)
print('Common Features:', f1.intersection(f2))
print('Unique to f1:', f1-f2)
print('Unique to f2:', f2-f1)
print('Symmetric Difference:',f1.symmetric_difference(f2))

Common Features: {'age', 'name'}
Unique to f1: {'gender', 'country'}
Unique to f2: {'city', 'married'}
Symmetric Difference: {'gender', 'married', 'city', 'country'}

In [72]:
# 24. How do you remove stopwords from a list of tokens using sets?

# Answer:
sample_stopwords = ['i','me','my','myself','we','our','ours','ourselves','you','your','yours','yourself','yourselves','he','him','his','himself']
tokens = ['i','am','partho','i','want','to','complete','masters','in','data','science']

sample_stopwords = set(sample_stopwords)
tokens = set(tokens)
removed_tokens = sorted(tokens - sample_stopwords) # Use sorted() to convert it into list.
removed_tokens

['am', 'complete', 'data', 'in', 'masters', 'partho', 'science', 'to', 'want']

25. Compare `set()` vs `np.unique()` in NumPy â€“ when to prefer each?

# Answer:
- Use set() for quick uniqueness checks, membership testing, or categorical filtering in pure Python workflows.
- Use np.unique() for numerical analysis, sorting, or axis-wise uniqueness in NumPy arrays or data science projects.

In [73]:
# 26. You have a list of values with NaNs. How can you use a set to remove duplicates excluding NaN?

# Answer:
import numpy as np
L = [1,2,3,4, np.nan, 8, np.nan,3,4,5, np.nan]
unique = set(L)
print(unique)

{1, 2, 3, 4, 5, 8, nan}

In [75]:
# 27. Explain the time complexity of checking membership in a set vs a list.

In [77]:
# 28. In a large dataset, how can a set help in detecting duplicates efficiently?

# Answer:
data = ['apple', 'banana', 'orange', 'apple', 'grape', 'banana']

seen = set()
duplicate = set()
for item in data:
    if item in seen:
        duplicate.add(item)
    else:
        seen.add(item)
print(duplicate)

{'banana', 'apple'}

In [79]:
# 29. Write a function that accepts two DataFrame columns and returns common values using set operations.

# Answer:
import pandas as pd

def common_values(col1, col2):
    set1 = set(col1.dropna())
    set2 = set(col2.dropna())
    return set1 & set2

In [81]:
# 30. Given two CSV files containing email addresses, write a Python script to find emails common to both using sets.

# The End