#  Data Science Learning Journey  
*Curiosity to Capability — One Notebook at a Time*

---
Compiled and authored by **Partho Sarothi Das**   
	Dhaka, Bangladesh  
	Bachelor's & Master's in Statistics  
	Investment Banking Professional → Aspiring Data Scientist

# Python Collections (Arrays)_4

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Dictionary

Dictionary are used to store data values in **key:value** pairs.  
Characteristics:
- Mutable
- Indexing has no meaning
- key's can't be duplicated
- Key's can't be mutable items

In [4]:
# Emply dictionary

d = {}
d

{}

In [5]:
# 1 Dimensinal

d1 = {'name':'partho', 'gender':'male', 'city':'dhaka'}
d1

{'name': 'partho', 'gender': 'male', 'city': 'dhaka'}

In [6]:
# Mixed keys

d2 = {(1,2,3):1, 'hello':'world'}
d2

{(1, 2, 3): 1, 'hello': 'world'}

In [7]:
d3 = dict([('name','partho'),('age',40),(3,3)])
d3

{'name': 'partho', 'age': 40, 3: 3}

In [8]:
# 2 Dimensional ----> JSON

d = {
    'name':'partho',
    'college':'central college',
    'semester':4,
    'subject':{
        'ds':90,
        'math':95,
        'statistics':80
    }
}
d

{'name': 'partho',
 'college': 'central college',
 'semester': 4,
 'subject': {'ds': 90, 'math': 95, 'statistics': 80}}

In [9]:
d['name']

'partho'

In [10]:
d['subject']['math']

95

In [11]:
# type()
type(d)

dict

In [12]:
# dict() Constructor

d = dict(name = "John", age = 36, country = "Norway")
print(d)

{'name': 'John', 'age': 36, 'country': 'Norway'}

# Access Dictionary Items

In [14]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["model"]

'Mustang'

In [15]:
d = {
    'name':'partho',
    'college':'central college',
    'semester':4,
    'subject':{
        'ds':90,
        'math':95,
        'statistics':80
    }
}

d['subject']['ds']

90

In [16]:
# get()

car.get('year')

1964

In [17]:
# keys() -----> list of all the keys in the dictionary.

d.keys()

dict_keys(['name', 'college', 'semester', 'subject'])

In [18]:
# values() -------->  list of all the values in the dictionary.
d.values()

dict_values(['partho', 'central college', 4, {'ds': 90, 'math': 95, 'statistics': 80}])

In [19]:
# items() method will return each item in a dictionary, as tuples in a list.

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [20]:
# Check if Key Exists

a = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in a:
  print("Yes, 'model' is one of the keys in the thisdict dictionary.")

Yes, 'model' is one of the keys in the thisdict dictionary.

In [21]:
len(a)

3

In [22]:
# sorted()

sorted(a, reverse=True)

['year', 'model', 'brand']

# Insert items

In [24]:
# Add a new item to the original dictionary

d = {
    'name':'partho',
    'college':'central college',
    'semester':4,
    'subject':{
        'ds':90,
        'math':95,
        'statistics':80
    }
}

d['subject']['calculus'] = 80
d

{'name': 'partho',
 'college': 'central college',
 'semester': 4,
 'subject': {'ds': 90, 'math': 95, 'statistics': 80, 'calculus': 80}}

In [25]:
d['session'] = 2026
d

{'name': 'partho',
 'college': 'central college',
 'semester': 4,
 'subject': {'ds': 90, 'math': 95, 'statistics': 80, 'calculus': 80},
 'session': 2026}

# Change Dictionary Items

In [27]:
# Change Values

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
d["year"] = 2018
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [28]:
# update() method will update the dictionary with the items from the given argument.

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
d.update({'year':1966})
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1966}

# Remove Dictionary Items

In [30]:
# pop() ----> method removes the item with the specified key name

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
d.pop('model')
d

{'brand': 'Ford', 'year': 1964}

In [31]:
# popitem() -----> method removes the last inserted item

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
d.popitem()
d

{'brand': 'Ford', 'model': 'Mustang'}

In [32]:
# del keyword removes the item with the specified key name.

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

del d['year']
d

{'brand': 'Ford', 'model': 'Mustang'}

In [33]:
# del

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del d

In [34]:
# clear() method empties the dictionary

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
d.clear()
d

{}

# Loop Dictionaries

In [36]:
# for loop ---->  all key names

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in d:
    print(i)

brand
model
year

In [37]:
# for loop ---->  all values

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in d:
    print(d[i])

Ford
Mustang
1964

In [38]:
# for loop ---> values()

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in d.values():
    print(i)

Ford
Mustang
1964

In [39]:
# for loop ---> keys()

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in d.keys():
    print(i)

brand
model
year

In [40]:
# for loop ---> items()

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i, j in d.items():
    print(i,j)

brand Ford
model Mustang
year 1964

# Copy Dictionaries

In [42]:
# Copy()

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

d1= d.copy()
d1

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [43]:
# dict()

d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
d1 = dict(d)
d1

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Nested Dictionaries 

A dictionary can contain dictionaries, this is called nested dictionaries.

In [45]:
# Nested Dictionaries

details={
    'person1':{
        'name':'partho',
        'age':25
    },
    'person2':{
        'name':'abhik',
        'age': 6
    },
    'person3':{
        'name':'sherena',
        'age':25
    }
}
details

{'person1': {'name': 'partho', 'age': 25},
 'person2': {'name': 'abhik', 'age': 6},
 'person3': {'name': 'sherena', 'age': 25}}

In [46]:
# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:
person1 ={
        'name':'partho',
        'age':25
    }
person2={
        'name':'abhik',
        'age': 6
    }
person3={
        'name':'sherena',
        'age':25
    }


myfamily={
    'person1': person1,
    'person2': person2,
    'person3': person3 
}
myfamily

{'person1': {'name': 'partho', 'age': 25},
 'person2': {'name': 'abhik', 'age': 6},
 'person3': {'name': 'sherena', 'age': 25}}

In [47]:
# Access Items in Nested Dictionaries

print(myfamily['person2']['name'])
print(myfamily['person3']['age'])

abhik
25

In [48]:
# items() ---- Loop Through Nested Dictionaries

for x, obj in myfamily.items():
    print(x)

    for y in obj:
        print(y + ':', obj[y])

person1
name: partho
age: 25
person2
name: abhik
age: 6
person3
name: sherena
age: 25

# Dictionary Comprehension

{key:value **for** vars **in** iterable}

In [50]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [51]:
d = {'a':100, 'b':200, 'c':300}

{key:value*2 for (key,value) in d.items()}

{'a': 200, 'b': 400, 'c': 600}

In [52]:
# zip()

days = ['sunday','monday','tuesday','wednesday','thuresday','friday','saturday']
temperature = [25,28,32,27,25,24,29]
{i:j for (i,j) in zip(days, temperature)}

{'sunday': 25,
 'monday': 28,
 'tuesday': 32,
 'wednesday': 27,
 'thuresday': 25,
 'friday': 24,
 'saturday': 29}

# Questions

# 🔹 **Basic Level (1–10)**

In [55]:
# 1. What is a dictionary in Python? How is it different from a list?

In [56]:
# 2. Create a dictionary of a student with keys: `"name"`, `"age"`, `"grade"`.

# Answer:
d = {
    'name': 'partho',
    'age':25,
    'grade': 'A'
}
d

{'name': 'partho', 'age': 25, 'grade': 'A'}

In [57]:
# 3. How do you access the value associated with a key in a dictionary?

# Answer:
d = {
    'name': 'partho',
    'age':25,
    'grade': 'A'
}
d['name']

'partho'

In [58]:
# 4. What happens if you access a key that doesn’t exist in a dictionary?

# Answer: KeyError

In [59]:
# 5. How do you update a dictionary value for a given key?

# Answer:
d = {
    'name': 'partho',
    'age':25,
    'grade': 'A'
}
d['age'] = 27
d

{'name': 'partho', 'age': 27, 'grade': 'A'}

In [60]:
# 6. Add a new key-value pair to the dictionary: `marks: 85`.

# Answer:
d = {
    'name': 'partho',
    'age':25,
    'grade': 'A'
}

d['marks'] = 85
d

{'name': 'partho', 'age': 25, 'grade': 'A', 'marks': 85}

In [61]:
# 7. Remove a key `"grade"` from the dictionary.

# Answer:
d = {
    'name': 'partho',
    'age':25,
    'grade': 'A'
}
d.pop('grade')
d

{'name': 'partho', 'age': 25}

In [62]:
# 8. Write a Python program to print all keys of a dictionary.

# Answer:
d = {
    'name': 'partho',
    'age':25,
    'grade': 'A'
}
d.keys()

dict_keys(['name', 'age', 'grade'])

In [63]:
# 9. Write a Python program to print all values of a dictionary.

# Answer:
d = {
    'name': 'partho',
    'age':25,
    'grade': 'A'
}
d.values()

dict_values(['partho', 25, 'A'])

In [64]:
# 10. Use `in` to check if the key `"name"` exists in the dictionary.

# Answer:
d = {
    'name': 'partho',
    'age':25,
    'grade': 'A'
}
'name' in d

True

# 🔹 **Intermediate Level (11–20)**

In [66]:
# 11. Loop through a dictionary and print key-value pairs.

# Answer:
d = {
    'name': 'partho',
    'age':25,
    'grade': 'A'
}
for i, j in d.items():
    print(i,j)

name partho
age 25
grade A

In [67]:
# 12. Write a dictionary comprehension to square all values in 
d = {'a': 2, 'b': 3}

# Answer
{i:j*2 for i,j in d.items()}

{'a': 4, 'b': 6}

In [68]:
# 13. Merge two dictionaries using the `update()` method.

# Answer:
d1 = {'a': 2, 'b': 3}
d2 = {'c': 4, 'd': 5}
d1.update(d2)
d1

{'a': 2, 'b': 3, 'c': 4, 'd': 5}

In [69]:
# 14. Convert two lists into a dictionary using `zip()`.

# Answer:
L1 = ['a','b','c']
L2 = [1,2,3]
{i:j for (i,j) in zip(L1,L2)}

{'a': 1, 'b': 2, 'c': 3}

In [70]:
# 15. How do you get a list of keys from a dictionary?

# Answer
d = {'a': 2, 'b': 3, 'c': 4, 'd':5}
print(list(d.keys()))

['a', 'b', 'c', 'd']

In [71]:
#🔥16. Use `get()` to safely access a value with a default if the key doesn’t exist.

# Answer:
d = {'name': 'Partho', 'age': 30}
d.get('city', 'Not Specified')

'Not Specified'

In [72]:
# 17. Explain the difference between `get()` and direct key access (`[]`).

# Answer:
d = {'name': 'Partho', 'age': 30}

# Using get()
print(d.get('name'))        # Output: Partho
print(d.get('gender'))      # Output: None
print(d.get('gender', 'N/A'))  # Output: N/A

# Using []
print(d['name'])            # Output: Partho
# print(d['gender'])          # ❌ Raises KeyError

Partho
None
N/A
Partho

In [73]:
# 18. Use a `for` loop to count the frequency of each character in a string.

# Answer:
string = 'banana'
char_freq = {}

for char in string:
    if char in char_freq:
        char_freq[char] +=1
    else:
        char_freq[char] = 1
print(char_freq)

{'b': 1, 'a': 3, 'n': 2}

In [74]:
# 🔥 19. How can you sort a dictionary by its keys?

# Answer:
d = {'a': 2, 'c': 3, 'd': 4, 'b':5}

dict(sorted(d.items()))

{'a': 2, 'b': 5, 'c': 3, 'd': 4}

In [75]:
# 🔥 20. How can you sort a dictionary by its values?

# Answer:
d = {'a': 8, 'c': 3, 'd': 2, 'b':1}

dict(sorted(d.items(), key=lambda item: item[1]))

{'b': 1, 'd': 2, 'c': 3, 'a': 8}

# 🔹 **Advanced / Data Science-Oriented Level (21–30)**

In [77]:
# 🔥 21. You have a column of a DataFrame. How can you map values using a dictionary?

# Answer:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name':['Partho','Abhik','Sheren','John','Robin'],
    'Grade':['A','B','A','C','E']})

# Dictionary to map values
grade_mapping = {'A': 4.0, 'B': 3.0, 'C': 2.0}

# Apply mapping
df['GPA'] = df['Grade'].map(grade_mapping)        # For unmatched values ----> returns NaN
df['GPA_1'] = df['Grade'].replace(grade_mapping)  # For unmatched values ----> Remains unchanged

print(df)

     Name Grade  GPA GPA_1
0  Partho     A  4.0   4.0
1   Abhik     B  3.0   3.0
2  Sheren     A  4.0   4.0
3    John     C  2.0   2.0
4   Robin     E  NaN     E

In [78]:
# 22. Explain how dictionaries are used in JSON and API responses.

In [79]:
# 23. How do you invert a dictionary (make values into keys)?

# Answer:
original = {'a': 1, 'b': 2, 'c': 3}
inverted = {v: k for k, v in original.items()}

print(inverted)  # Output: {1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 2: 'b', 3: 'c'}

In [80]:
# 24. How do you handle duplicate values when inverting a dictionary?

# Answer:
original = {'a': 1, 'b': 2, 'c': 1}
from collections import defaultdict

inverted = defaultdict(list)
for k, v in original.items():
    inverted[v].append(k)

print(dict(inverted))  # Output: {1: ['a', 'c'], 2: ['b']}

{1: ['a', 'c'], 2: ['b']}

In [81]:
# 25. Use a dictionary to store statistics (mean, median, std) for multiple columns.

# Answer:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Math': [85, 90, 78, 92, 88],
    'Science': [80, 85, 89, 94, 90],
    'English': [75, 78, 72, 70, 74]
})

# Initialize dictionary to store stats
stats = {}

# Loop through each column and compute stats
for col in df.columns:
    stats[col] = {
        'mean': df[col].mean(),
        'median': df[col].median(),
        'std': df[col].std()
    }

stats

{'Math': {'mean': 86.6, 'median': 88.0, 'std': 5.458937625582473},
 'Science': {'mean': 87.6, 'median': 89.0, 'std': 5.319774431308154},
 'English': {'mean': 73.8, 'median': 74.0, 'std': 3.03315017762062}}

In [82]:
# 26. Use a nested dictionary to store students and their subject-wise marks.

# Answer:
students = {
    'Alice': {'Math': 85, 'Science': 90, 'English': 78},
    'Bob': {'Math': 75, 'Science': 80, 'English': 82},
    'Charlie': {'Math': 92, 'Science': 88, 'English': 85}
}
print("Bob's Marks:",students['Bob'])
print("Alice's marks in Science:",students['Alice']['Science'])

Bob's Marks: {'Math': 75, 'Science': 80, 'English': 82}
Alice's marks in Science: 90

In [83]:
for student, subjects in students.items():
    print(f"{student}'s mark:")
    for subject, mark in subjects.items():
        print(f"   {subject}:{mark}")

Alice's mark:
   Math:85
   Science:90
   English:78
Bob's mark:
   Math:75
   Science:80
   English:82
Charlie's mark:
   Math:92
   Science:88
   English:85

In [84]:
# 27. What is `defaultdict` and how is it helpful in frequency counting?

# Answer:
from collections import defaultdict

text = 'banana'
char_count = defaultdict(int)
for char in text:
    char_count[char] +=1
print(char_count)

defaultdict(<class 'int'>, {'b': 1, 'a': 3, 'n': 2})

# 28. What is `Counter` from `collections` and how is it related to dictionaries

Answer:
# Counter is a class in Python's collections module used to count hashable elements like strings, numbers, or tuples. It works like a dictionary but is specifically designed to count items.

How is it related to dictionaries?

Counter is a subclass of dict.
It stores elements as keys, and their counts as values.
You can use most dictionary methods with it.

In [85]:
# 29. Write a program to group words with the same length using a dictionary.

# Answer:
words = ["data", "science", "is", "fun", "AI", "big", "learning"]

# Dictionary to group by length
length_groups = {}

for word in words:
    length = len(word)
    if length not in length_groups:
        length_groups[length] = []
    length_groups[length].append(word)

# Display the grouped dictionary
print(length_groups)

{4: ['data'], 7: ['science'], 2: ['is', 'AI'], 3: ['fun', 'big'], 8: ['learning']}

In [86]:
# 30. Given a list of dictionaries, extract all unique keys.

# Answer:
list_of_dicts = [
    {"name": "Partho", "age": 43},
    {"course": "Data Science", "country": "Bangladesh"},
    {"name": "Abhik", "hobby": "Drawing"}
]

# Extract all unique keys
unique_keys = set()
for d in list_of_dicts:
    unique_keys.update(d.keys())

print(unique_keys)

{'name', 'age', 'country', 'hobby', 'course'}

# The End