#  Data Science Learning Journey  
*Curiosity to Capability â€” One Notebook at a Time*

---
Compiled and authored by **Partho Sarothi Das**   
	Dhaka, Bangladesh  
	Bachelor's & Master's in Statistics  
	Investment Banking Professional â†’ Aspiring Data Scientist

# Python If ... Else

Python supports the usual logical conditions from mathematics:

- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b  

These conditions can be used in several ways, most commonly in "if statements" and loops.   
An "if statement" is written by using the if keyword.

In [3]:
# if ---> Statement

a = 5
b = 4
if a>b:
    print("a is greater than b.")

a is greater than b.

In [4]:
# if.... elif.....else

a = 4
b = 5
if a>b:
    print("a is greater than b.")
elif a<b:
    print('b is greater than a.')
else:
    print('a is equal to b.')

b is greater than a.

In [5]:
# Short if

a=9
b=5
if a>b: print('a is greater than b.')

a is greater than b.

In [6]:
# Short if ... else

a=9
b=5
print('a is greater than b') if a>b else print('b is greater than a')

a is greater than b

In [7]:
# One line if else statement, with 3 conditions:

x = 700
y = 700
print('x') if x>y else print('y') if y>x else print('Equal')

Equal

In [8]:
# and -----> logical operator

a = 2
b = 3
c = 4
if a<b and b<c:
    print('Both conditions are true.')

Both conditions are true.

In [9]:
# or -------> logical operator

a = 2
b = 3
c = 4
if a<b or c<b:
    print('At least one condition is True.')

At least one condition is True.

In [10]:
# not -----> logical operator

a = 2
b = 5
if not a>b:
    print('a is NOT greater than b.')

a is NOT greater than b.

In [11]:
# Nested if

x = 10
if x>10:
    print('x is greater than 10.')
    if x>20:
        print('x is also greater than 20')
    else:
        print('but x is less than 20.')
else:
    print('x is less than 11.')

x is less than 11.

In [12]:
# pass statement

a=8
b=4
if a>b:
    pass

# Match

Instead of writing many if..else statements, you can use the match statement.

The match statement selects one of many code blocks to be executed.

This is how it works:

The match expression is evaluated once.
The value of the expression is compared with the values of each case.
If there is a match, the associated block of code is executed.

In [14]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

In [15]:
# Default Value

day = 7
match day:
    case 1:
        print('Today is saturday')
    case 2:
        print('Today is sunday')
    case _:
        print('Today is working day')

Today is working day

In [16]:
# Combine Values 

day = 7
match day:
    case 1|2|3|4|5:
        print('Today is weekday.')
    case 6|7:
        print('Go for a trip!!')

Go for a trip!!

In [17]:
# If Statements as Guards

month = 4
day = 7
match day:
    case 1 | 2 | 3 | 4 | 5 if month == 4:
        print('A weekday in April.')
    case 1 | 2 | 3 | 4 | 5 if month == 5:
        print('A weekday in May.')
    case _:
        print('No match.')

No match.

# Questions

# ðŸ”¹ **A. `if` Statement (6 questions)**

In [20]:
# 1. Write a program that checks if a number is **positive**.

# Answer: 
x = 67
if x>0:
    print('x is a positive number.')

x is a positive number.

In [21]:
# 2. Check whether a given string contains the word `"data"`.

In [22]:
# 3. If a list is not empty, print the first element.

# Answer:
L = [1,2,3,4]
if L:
    print("First element is:", L[0])

First element is: 1

In [23]:
# 4. Check if a number is divisible by 5.

# Answer:
x=100
if x%5==0:
    print(f'{x} is divisible by 5.')

100 is divisible by 5.

In [24]:
# 5. If a DataFrame column `age` exists, print "Column present".

# Answer:
import pandas as pd
df = pd.DataFrame({
    'name':['partho','sheren'],
    'age' :[43,44],
    'city':['Dinajpur','Sylhet']
})

if 'age' in df.columns:
    print('Age columne is present')

Age columne is present

In [25]:
# 6. If a variable `x` is a string, print its length.

# Answer:
x = 'Bangladesh'
if type(x) == str:
    print(len(x))

10

# ðŸ”¹ **B. `if-else` Statement (6 questions)**

In [27]:
# 7. Write a program to check if a number is even or odd.

# Answer:
x = 21
if x%2 == 0:
    print(x,'is a even number.')
else:
    print(x, 'is a odd number.')

21 is a odd number.

In [28]:
# 8. Check if a student's score is above 60, print `"Pass"`, else print `"Fail"`.

# Answer:
score = 80
if score>60:
    print('Pass')
else:
    print('Fail')

Pass

In [29]:
# 9. Given a temperature, check if it's **hot** (>30) or **normal**.

# Answer:
tem = 28
if tem >30:
    print('hot')
else:
    print('normal')

normal

In [30]:
# 10. If a file exists, read and print its content, else print `"File not found"`.

# Answer:
import os
filename = 'data.txt'

if os.path.exists(filename):
    with open(filename,'r') as file:
        content = file.read()
        print(content)
else:
    print('File not found.')

It is wonderfull

In [31]:
# 11. If a list has more than 5 elements, print `"Big List"`, else `"Small List"`.

# Answer:
L = [1,2,3,4,5,6,7,8]
if len(L)>5:
    print('Big List')
else:
    print('Small List')

Big List

In [32]:
# 12. Check whether a string starts with `"ML"`. If yes, print `"Machine Learning"` else `"Not ML"`.

# Answer:
text = 'ML'
if text.startswith('ML'):
    print('Machine Learning')
else:
    print('Not ML')

Machine Learning

# ðŸ”¹ **C. `if-elif-else` Statement (10 questions)**

In [34]:
# 13. Grade a student:
"""
* `90-100`: A
* `80-89`: B
* `70-79`: C
* `<70`: F
"""

# Answer:
score = 67
if 90 <= score <= 100:
    print('A')
elif 80 <= score <= 89:
    print('B')
elif 70 <= score <=79:
    print('C')
else:
    print('F')

F

In [35]:
# 14. Check if a number is **positive**, **negative**, or **zero**.

# Answer:
x = 78
if x == 0:
    print('Zero')
elif x > 0 :
    print('Positive')
else:
    print('Negative')

Positive

In [36]:
# 15. Based on weekday number (1â€“7), print the weekday name.

In [37]:
# 16. Given a user's age, classify as `"child"`, `"teen"`, `"adult"`, or `"senior"`.

In [38]:
# 17. If salary < 30000 â†’ `"Low"`
#     30000â€“60000 â†’ `"Medium"`
#     > 60000 â†’ `"High"`

In [39]:
# 18. Based on BMI value, classify the person: underweight, normal, overweight, obese.

In [40]:
# 19. From a DataFrame column, print `"Missing"` if value is NaN, `"Valid"` otherwise.

# Answer:
import pandas as pd
import numpy as np

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Partho', 'Abhik', np.nan, 'Anika', None]
})

for x in df['Name']:
    if pd.isna(x):
        print('Missing')
    else:
        print('Valid')

Valid
Valid
Missing
Valid
Missing

In [41]:
# 20. Classify a temperature as `"Cold"`, `"Warm"`, `"Hot"`, or `"Extreme"`.

In [42]:
# 21. Based on a given month number (1â€“12), print the season.

In [43]:
# 22. Given a student's marks, print grade using `if-elif-else`.

# ðŸ”¹ **D. `match-case` Statement (8 questions)**

In [45]:
# 23. Use `match` to map numbers 1â€“5 to their English words.

In [46]:
# 24. Match the country code to country name using `match-case`.

# Answer:
code = 2
match code:
    case 1:
        print('Bangladesh')
    case 2:
        print('Denmark')
    case 3:
        print('Ireland')
    case 4:
        print('France')

Denmark

In [47]:
# 25. Given a weather condition (`"sunny"`, `"rainy"`, `"snowy"`), print activity suggestion.

In [48]:
# 26. Match a user role (`"admin"`, `"editor"`, `"viewer"`) and print their permissions.

In [49]:
# 27. Use `match` to return day type: `"Weekday"` or `"Weekend"`.

In [50]:
# 28. Use `match` to convert letter grades (`"A"`, `"B"`, `"C"`, etc.) into messages.

In [51]:
# 29. Use `match` to detect file type from extension (`.csv`, `.json`, `.xlsx`, etc.).

In [52]:
# 30. Match a sport name and print the number of players (e.g., `"cricket"` â†’ 11).