#  Data Science Learning Journey  
*Curiosity to Capability — One Notebook at a Time*

---
Compiled and authored by **Partho Sarothi Das**   
	Dhaka, Bangladesh  
	Bachelor's & Master's in Statistics  
	Investment Banking Professional → Aspiring Data Scientist

# Python Loops
Python has two primitive loop commands:

- while loops
- for loops

# The while Loop

In [3]:
# With the while loop we can execute a set of statements as long as a condition is true.

i = 1
while i<6:
    print(i)
    i +=1

1
2
3
4
5

In [4]:
# The break Statement

i = 1
while i<10:
    print(i)
    if i == 4:
        break
    i +=1

1
2
3
4

In [5]:
# continue Statement ----> stop the current iteration, and continue with the next.

i = 0
while i<7:
    i +=1
    if i ==4:
        continue
    print(i)

1
2
3
5
6
7

In [6]:
# else statement

i = 1
while i<5:
    print(i)
    i +=1
else:
    print('Now i not less than 5')

1
2
3
4
Now i not less than 5

# For Loops

In [8]:
# A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

countries = ['denmark', 'norway', 'ireland']

for i in countries:
    print(i)

denmark
norway
ireland

In [9]:
# Looping through a string

s = 'denmark'
for i in s:
    print(i)

d
e
n
m
a
r
k

In [10]:
# break - statement

countries = ['denmark', 'norway', 'ireland']
for i in countries:
    print(i)
    if i == 'norway':
        break

denmark
norway

In [11]:
# continue - statement

s = 'i love data science'
for x in s:
    if x == ' ':
        continue
    print(x)

i
l
o
v
e
d
a
t
a
s
c
i
e
n
c
e

In [12]:
# range() - function

for x in range(5):
    print(x)

0
1
2
3
4

In [13]:
# range() - with start parameter

for x in range(100, 105):
    print(x)

100
101
102
103
104

In [14]:
# range() - with increment the sequence value

for x in range(2,10,2):
    print(x)

2
4
6
8

In [15]:
# for loop with else statment

for x in range(6):
    print(x)
else:
    print('Count completed!')

0
1
2
3
4
5
Count completed!

In [16]:
# Note: The else block will NOT be executed if the loop is stopped by a break statement.

for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [17]:
# Nested Loops ----->  A nested loop is a loop inside a loop.
# The "inner loop" will be executed one time for each iteration of the "outer loop":

count = [2,4,6]
fruits = ['apple','banana','orange']

for x in count:
    for y in fruits:
        print(x,y)

2 apple
2 banana
2 orange
4 apple
4 banana
4 orange
6 apple
6 banana
6 orange

In [18]:
# pass Statement ---> for loops cannot be empty, but if needed ---> with no content, put in the pass statement to avoid getting an error.

for x in [0, 1, 2]:
  pass

# ✅ Section A: `while` Loop Questions (15)

In [20]:
# 1. Write a program to print numbers from 1 to 10 using a `while` loop.

# Answer:
i=1
while i <11:
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10

In [21]:
# 2. Write a program to print even numbers between 1 to 20 using a 'while' loop.

# Answer:
i = 1
while i<21:
    if i%2 == 0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20

In [22]:
# 3. Write a program to print the sum of numbers from 1 to N using a `while` loop.

# Answer:
N = int(input('Please input a number:'))
sum = 0
i = 1
while i <=N:
    sum = sum+i
    i +=1
print(sum)

Please input a number: 322

52003

In [23]:
# 4. Write a program to reverse a given number using a `while` loop. Example: input `1234` → output `4321`

# Answer:
num = int(input('Input a number:'))

reversed_num = 0
while num>0:
    digit = num% 10
    reversed_num = reversed_num *10 + digit
    num = num//10
print(reversed_num)

Input a number: 2233

3322

In [24]:
# 5. Write a program to count the number of digits in an integer using a `while` loop.

# Answer:
num = int(input("Input a integer:"))
num = abs(num)

if num == 0:
    count = 1
else:
    count = 0
    while num>0:
        num = num//10
        count+=1
print(count)

Input a integer: 2222

4

In [25]:
# 6. Write a program to print the multiplication table of a given number using a `while` loop.

# Answer:
num = int(input('Input a positive number:'))
i=1
while i<=10:
    print(f'{num} * {i} =  {num*i}')
    i +=1

Input a positive number: 322

322 * 1 =  322
322 * 2 =  644
322 * 3 =  966
322 * 4 =  1288
322 * 5 =  1610
322 * 6 =  1932
322 * 7 =  2254
322 * 8 =  2576
322 * 9 =  2898
322 * 10 =  3220

In [26]:
# 7. Write a program to print all numbers divisible by 3 and 5 between 1 and 100 using a `while` loop.

# Answer:
i = 1
while i <=100:
    if (i%3 == 0) and (i%5 == 0):
        print(i)
    i += 1

15
30
45
60
75
90

In [27]:
# 8. Write a program to calculate factorial of a given number using a `while` loop.

# Answer:
num = int(input('Input a number:'))
i = 1
factorial = 1
while i<= num:
    factorial = factorial*i
    i +=1
print(factorial)

Input a number: 2

2

In [28]:
# 9. Write a program to check if a number is a palindrome (remains the same when its digits are reversed) using a `while` loop. Example: 12321

# Answer:
num = int(input('Input a number:'))
original_num = num

reversed_num = 0
i = 1
while num > 0:
    digit = num%10
    reversed_num = reversed_num * 10 + digit
    num = num//10
if reversed_num == original_num:
    print('It is a palindrome.')
else:
    print('It is not a palindrome')

Input a number: 123

It is not a palindrome

In [29]:
# 10. Write a program to print the Fibonacci sequence up to N terms using a `while` loop.

# Answer:
N = int(input('Input a number:'))
x = 0
y = 1
i = 0
while i< N:
    print(x)
    z = (x+y)
    x = y
    y = z
    i +=1

Input a number: 4

0
1
1
2

In [30]:
# 11. Write a program to find the sum of digits of a number using a `while` loop.

# Answer:
num = int(input('Input a number:'))
sum = 0
while num>0:
    digit = num%10
    sum = sum + digit
    num = num//10
print('Sum of the digits of the number is:',sum)

Input a number: 34

Sum of the digits of the number is: 7

In [31]:
# 12. Write a program to keep asking the user for input until they type `"exit"` (case-insensitive).

# Answer:
user_input = '0'
while user_input.lower() != 'exit':
    user_input = input('Input anything:')

Input anything: exit

In [32]:
# 13. Write a program using a `while` loop to print all the odd numbers between 1 and 50.

# Answer:
i = 1
while i <=50:
    if i%2 !=0:
       print(i)
    i += 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [33]:
# 14. Write a program to count how many times a digit appears in a number using a `while` loop.

# Answer:
num = int(input('Input a number:'))
num_to_count = int(input('Which number [0-9] to count:'))

count = 0
while num>0:
    if num%10 == num_to_count:
        count = count+1
    num = num//10
print(count)

Input a number: 56
Which number [0-9] to count: 5

1

In [34]:
# 15. Write a program to check if a number is prime using a `while` loop.

# Answer:
num = int(input('Input a number:'))

if num <2:
    print('This is not a prime number.')
else:
    i = 2
    is_prime = True
    while i*i <= num:
        if num%i == 0:
            is_prime = False
            break
        i += 1
    if is_prime:
        print('This is a prime number.')
    else:
        print('This is not a prime number.')

Input a number: 89

This is a prime number.

# ✅ **Section B: `for` Loop Questions (15)**

In [36]:
# 16. Write a program to print numbers from 1 to 10 using a `for` loop.

# Answer:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [37]:
# 17. Write a program to print **each character** in a given string using a `for` loop.

# Answer:
s = 'curiosity to learn'
for i in s:
    print(i)

c
u
r
i
o
s
i
t
y

t
o

l
e
a
r
n

In [38]:
# 18. Write a program to print the **square of each number from 1 to 10** using a `for` loop.

# Answer:
for i in range (1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [39]:
# 19. Write a program to print a **right-angle triangle pattern** of stars:

"""
*
**
***
****
"""

# Answer:
for i in range(1,6):
    print(i*'*')

*
**
***
****
*****

In [40]:
# 20. Write a program to **iterate through a list** and print each item.
L = [1,2,3,4]

# Answer:
for i in L:
    print(i)

1
2
3
4

In [41]:
# 21. Write a program to **find the sum of all elements** in a list using a `for` loop.
L = [1,2,3,4,5]

# Answer:
sum = 0
for i in L:
    sum = sum+i
print(sum)

15

In [42]:
# 22. Write a program to **print all even numbers in a list** using a `for` loop.
L = [78, 45, 40, 90, 2, 77]

# Answer:
for i in L:
    if i%2 == 0:
        print(i)

78
40
90
2

In [43]:
# 23. Write a program to print the **multiplication table** of a number using a `for` loop.

# Answer:
num = int(input('Enter any number:'))

for i in range (1,11):
    print(f'{num} * {i} = {num*i}')

Enter any number: 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [44]:
# 24. Write a program to print **numbers in reverse order from 10 to 1** using a `for` loop.

# Answer:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [45]:
# 25. Write a program to **find the largest number** in a list using a `for` loop.
L = [100, 40, 20, 1, 80, 40]

# Answer:
largest_number = L[0]
for i in L:
    if i > largest_number:
        largest_number = i
print(largest_number)

100

In [46]:
# 26. Write a program to **count the number of vowels** in a string using a `for` loop.
s = 'I enjoy Data Science'

# Answer:
vowel = 'aeiouAEIOU'
count = 0
for char in s:
    if char in vowel:
        count +=1
print(count)

8

In [47]:
# 27. Write a program to **remove all odd numbers** from a list using a `for` loop.
L = [1,2,3,4,5,6,7]

# Answer:
new_list = []
for i in L:
    if i%2==0:
        new_list.append(i)
print(new_list)

[2, 4, 6]

In [17]:
# 28. Write a program to **check if a word is a palindrome** using a `for` loop.

# Answer:
# word = input('Please enter a word:')
word = 'qweewq'

is_plindrome = True

for i in range(len(word)//2):
    if word[i] != word[-(i+1)]:
        is_plindrome = False
        break

if is_plindrome:
    print(f'{word} is a palindrome.')
else:
    print(f'{word} is not a palindrome')

qweewq is a palindrome.

In [96]:
# 29. Write a program to print a **pattern of numbers** using nested `for` loops:

"""
1
12
123
1234
"""
# Answer:
# rows = int(input('Input number of rows:'))
rows = 5
for i in range(1, rows+1):
    for j in range(1, i+1):
        print(j, end='')
    print()

1
12
123
1234
12345

In [19]:
# 30. Write a program to **iterate over a dictionary** and print key-value pairs using a `for` loop.
student = {
    "name": "Partho",
    "age": 43,
    "course": "Data Science",
    "country": "Bangladesh"
}

# Answer:
for key, value in student.items():
    print(f'{key} : {value}')

name : Partho
age : 43
course : Data Science
country : Bangladesh

In [50]:
# 31. Write a program to **iterate over a dictionary** and print key-value pairs using a `for` loop.
students = [
    {
        "name": "Partho",
        "age": 43,
        "course": "Data Science",
        "country": "Bangladesh"
    },
    {
        "name": "Ayesha",
        "age": 25,
        "course": "Machine Learning",
        "country": "India"
    },
    {
        "name": "John",
        "age": 30,
        "course": "AI Engineering",
        "country": "USA"
    },
    {
        "name": "Fatima",
        "age": 28,
        "course": "Data Analytics",
        "country": "Pakistan"
    }
]

In [70]:
for i, student in enumerate(students, start=1):
    print(f'Student {i}')
    for key, value in student.items():
        print(f'  {key} : {value}')
    print()

Student 1
  name : Partho
  age : 43
  course : Data Science
  country : Bangladesh

Student 2
  name : Ayesha
  age : 25
  course : Machine Learning
  country : India

Student 3
  name : John
  age : 30
  course : AI Engineering
  country : USA

Student 4
  name : Fatima
  age : 28
  course : Data Analytics
  country : Pakistan

# ✅ **Advanced `while` Loop Questions**

In [1]:
# 1. **Print prime numbers between 1 and 100** using a `while` loop.

# Answer:
num = 2  # Start from the first prime number

while num <= 100:
    is_prime = True

    # Check if num is divisible by any number from 2 to sqrt(num)
    i = 2
    while i * i <= num:
        if num % i == 0:
            is_prime = False
            break
        i += 1

    if is_prime:
        print(num, end=' ')
    
    num += 1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
2. Write a program to **find all Armstrong numbers** between 100 and 999 using a `while` loop.
   *Hint: 153 = 1³ + 5³ + 3³*

3. **Implement a number guessing game** using `while` loop until the user guesses the correct number.

In [78]:
# 4. Write a program that **keeps asking for input and adds it to a total** until the user enters 0.

# Answer:
num = 1
total = 0
while num!= 0:
    # num = int(input('Enter a number:'))
    total = total + num
print(total)

Enter a number: 6
Enter a number: 4
Enter a number: 5
Enter a number: 7
Enter a number: -1
Enter a number: 0

21

In [94]:
# 5. Write a program to **generate the Collatz sequence** for a given number using `while` loop.

# Answer:
num = 13
count = 0
while num !=1:
    if num%2 == 0:
        num = num/2
    else:
        num = (num*3)+1
    count +=1
    print(f'{count}: {num}')

1: 40
2: 20.0
3: 10.0
4: 5.0
5: 16.0
6: 8.0
7: 4.0
8: 2.0
9: 1.0

In [ ]:
6. Write a program to **check if a number is a strong number** using `while`.
   *Hint: 145 → 1! + 4! + 5! = 145*

In [122]:
# 7. Write a program to **simulate a basic ATM withdrawal system** with a balance and password check using `while`.

# Answer:
name = 'partho'
password = '1234'
balance = 10000

u_name = input('Enter your name:')
u_pass = input('Enter your password:')

while (u_pass == password) and (name == u_name):
    amount = int(input('withdrawal amount:'))
    if amount<balance:
        balance = balance - amount
        print('Withdrawal successful.')
        print('Your new balance is : ', balance)
        break
    else:
        print('Insufficiant Fund.')
        break
else:
    print('Incorrect name or password')

Enter your name: ieua
Enter your password: 1234

Incorrect name or password

In [ ]:
# 8. Create a **menu-driven program** (Add, Subtract, Exit) using a `while` loop.

In [ ]:
# 9. Write a program to **convert a decimal number to binary** using `while` loop (without using bin()).

In [ ]:
# 10. Write a program to **remove repeated digits from a number** using a `while` loop.
#     *Input: 122334 → Output: 1234*

# ✅ **Advanced `for` Loop Questions**

In [152]:
# 11. Write a program to **generate a pyramid pattern** like:

"""
   *
  ***
 *****
*******
"""
# Answer:
rows = 10
i = 1

while i <= rows:
    # Calculate number of spaces and stars
    spaces = rows - i
    stars = 2 * i - 1
    print(' ' * spaces + '*' * stars)
    i += 1

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [ ]:
# 12. Write a program to **count word frequency in a sentence** using `for` loop and dictionary.

In [ ]:
# 13. Write a program to **find all palindromes** in a list of words using a `for` loop.

In [ ]:
# 14. Write a program to **transpose a matrix** using nested `for` loops.

In [ ]:
# 15. Write a program to **generate Pascal’s Triangle** up to N rows using nested `for` loops.

In [ ]:
# 16. Write a program to **iterate through two lists simultaneously** using `zip()` and a `for` loop.

In [ ]:
# 17. Write a program to **remove all duplicates from a list** without using `set()` — only `for` loop.

In [ ]:
# 18. Write a program to **check if a list is sorted in ascending order** using a `for` loop.

In [3]:
# 19. Write a program to **print a checkerboard pattern** using nested `for` loops:

"""
# # # #
 # # # #
# # # #
 # # # #
"""

'\n# # # #\n # # # #\n# # # #\n # # # #\n'

In [ ]:
# 20. Write a program to **print the frequency of each character in a string**, ignoring case and spaces, using a `for` loop.