#  Data Science Learning Journey  
*Curiosity to Capability — One Notebook at a Time*

---
Compiled and authored by **Partho Sarothi Das**   
	Dhaka, Bangladesh  
	Bachelor's & Master's in Statistics  
	Investment Banking Professional → Aspiring Data Scientist 
    
---

- F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.
- Before Python 3.6 we had to use the format() method.

# F - Strings

In [5]:
# Placeholders and Modifiers
# To format values in an f-string, add placeholders {}, a placeholder can contain variables, operations, functions, and modifiers to format the value.

price = 100
txt = f"The price is {price} dollors."
print(txt)

The price is 100 dollors.

In [6]:
# Display the price with 2 decimals.

price =100
txt = f"The price is {price:.2f} dollors."
txt

'The price is 100.00 dollors.'

In [7]:
# Display the value 50 with 2 decimals:

txt = f"The price is {50:.2f} dollars."
txt

'The price is 50.00 dollars.'

In [8]:
# Operations in F-strings

txt = f"The price of 12 apples is {12 * 40} dollars."
txt

'The price of 12 apples is 480 dollars.'

In [9]:
# Add taxes before displaying the price

price = 900
tax = 0.20
txt = f"The price is {price +(price*0.20)} dollars."
txt

'The price is 1080.0 dollars.'

In [10]:
# if ... else ----> F-string

price = 40
txt = f"It is very {'Expensive' if price>50 else "Cheap"}."
print(txt)

It is very Cheap.

In [11]:
# Functions ----> f-string

fruit = "apple"
txt = f"I love {fruit.upper()}"
txt

'I love APPLE'

In [12]:
# User defined functions --------> f-string

def converter(x):
    return x * 0.333

txt = f"The plane is flying at a {converter(2000)} meter altitude."
txt

'The plane is flying at a 666.0 meter altitude.'

In [13]:
# comma ----> thousand separator:

price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

The price is 59,000 dollars

In [14]:
# :<   Left aligns the result (within the available space)

txt = f"We have {40:<10} apple."
txt

'We have 40         apple.'

In [15]:
# :<   Right aligns the result (within the available space)

txt = f"We have {40:>10} apple."
txt

'We have         40 apple.'

In [16]:
# :^ Centre alings the result

txt = f"We have {40:^ 10} apple."
txt

'We have     40     apple.'

In [17]:
# :%    Percentage format

txt = f"We have {0.25:%} apple."
print(txt)

# .0%    without decimals

txt1 = f"We have {0.25:.0%} apple."
txt1

We have 25.000000% apple.

'We have 25% apple.'

# String format()

- Before Python 3.6 we used the format() method to format strings.
- The format() method can still be used, but f-strings are faster and the preferred way to format strings.

In [19]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [20]:
price = 49
txt = "The price is {} dollars".format(price)
txt

'The price is 49 dollars'

In [21]:
# Multiple values

quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [22]:
# Using Index number

quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [23]:
# use same value more than once

age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [24]:
# Named Indexes

myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

# Dates   
- A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

In [26]:
import datetime

x = datetime.datetime.now()
print(x)

2025-07-05 01:33:40.965272

In [27]:


x = datetime.datetime(2020, 5, 17)
print(x)

2020-05-17 00:00:00

In [28]:
# %a , %A  ---- > Weekday 

x = datetime.datetime.now()
print(x.strftime("%a"))
print(x.strftime("%A"))

Sat
Saturday

In [29]:
# %b, %B -------> Month name

x = datetime.datetime.now()
print(x.strftime("%b"))
print(x.strftime("%B"))

Jul
July

In [30]:
# %y, %Y -------> Year

x = datetime.datetime.now()
print(x.strftime("%y"))
print(x.strftime("%Y"))

25
2025

In [31]:
# %w	Weekday as a number 0-6, 0 is Sunday

x = datetime.datetime.now()
print(x.strftime("%w"))

6

In [32]:
# %d	Day of month as a number

x = datetime.datetime.now()
print(x.strftime("%d"))

05

In [33]:
# %m	Month as a number

x = datetime.datetime.now()
print(x.strftime("%m"))

07

In [34]:
# %H, %I     Hour as a number

x = datetime.datetime.now()
print(x.strftime("%H")) # 24 hour time
print(x.strftime("%I")) # 12 hour time

01
01

In [35]:
# %p	AM/PM

x = datetime.datetime.now()
print(x.strftime("%p"))

AM

In [36]:
# %M	Minute 00-59

print(x.strftime("%M"))

33

In [37]:
# %S	Second 00-59

print(x.strftime("%S"))

41

In [38]:
# %f	Microsecond 000000-999999

print(x.strftime("%f"))

037536

In [39]:
# %j	Day number of year 001-366

print(x.strftime("%j"))

186

In [40]:
# %U	Week number of year, Sunday as the first day of week

print(x.strftime("%U"))

26

In [41]:
# %W	Week number of year, Monday as the first day of week

print(x.strftime("%W"))

26

In [42]:
# %z	UTC offset	+0100	
# %Z	Timezone	CST	
# %c	Local version of date and time	Mon Dec 31 17:41:00 2018	
# %C	Century	20	
# %x	Local version of date	12/31/18	
# %X	Local version of time	17:41:00	
# %%	A % character	%	
# %G	ISO 8601 year	2018	
# %u	ISO 8601 weekday (1-7)	1	
# %V	ISO 8601 weeknumber (01-53)	01

# 🔹 Excercise: Basic String Formatting

In [44]:
# 1. Format the float `3.14159` to 2 decimal places using `format()`.

# Answer:
a = 3.14159
print("The value upto 2 decimal is {:.2f}".format(a))

The value upto 2 decimal is 3.14

In [45]:
# 2. Format the integer `42` with leading zeros to make it 5 digits long using an f-string.

# Answer:
num = 42
print(f'5 digit number is {num:05}')

5 digit number is 00042

In [46]:
# 3. Given `name = "Alice"`, insert the name in the sentence: "Hello, \_\_\_!" using f-string.
name = 'Alice'

# Answer:
print(f'Hello, {name}!')

Hello, Alice!

In [47]:
# 4. Using `%` formatting, display `"Accuracy: 98.23%"` where `accuracy = 98.23456`.

# Answer:
accuracy = 98.23456
print(f'Accuracy: {accuracy:.2f}%')

Accuracy: 98.23%

In [48]:
# 5. Print `"Pi is approximately 3.14"` using `round()` and f-string.

# Answer:
pi = 3.14159
appro = round(pi,2)
print(f"Pi is approximately {appro}")

Pi is approximately 3.14

In [49]:
# 6. Given `x = 123.4567`, format it to show only one digit after the decimal using `format()`.
x = 123.4567

# Answer:
print("{:.1f}".format(x))

123.5

In [50]:
# 7. Convert an integer `x = 1234` into a formatted string with commas: `"1,234"` using f-string.
x = 1234

# Answer:
print(f"{x:,}")

1,234

In [51]:
# 8. Right-align the string `"Python"` in a field of width 10 using `format()`.

# Answer:
txt = 'Python'
print("I love {:>10}".format(txt))

I love     Python

In [52]:
# 9. Left-align the string `"Data"` in a field of width 10 using f-string.

# Answer:
txt = 'Data'
print(f'{txt:<10} Science')

Data       Science

In [53]:
# 10. Center the string `"ML"` in a field of width 6 using `.center()` method.

# Answer:
text = 'ML'
centered = text.center(6)
print(f"'{centered}'")

'  ML  '

# 🔹 Excercise: String Formatting with Dictionaries & Loops

In [55]:
# 11. Using a dictionary `d = {'name': 'Partho', 'age': 43}`, create the string: "Name: Partho, Age: 43".
d = {'name': 'Partho', 'age': 43}

# Answer:
result = f"Name: {d['name']}, Age: {d['age']}"
result

'Name: Partho, Age: 43'

In [56]:
# 12. Loop through a dictionary and print each key-value pair as `Key: Value` using string formatting.
d = {'name': 'Partho', 'age': 43, 'country': 'Bangladesh'}

# Answer:
for key, value in d.items():
    print(f"{key.capitalize()}: {value}")

Name: Partho
Age: 43
Country: Bangladesh

In [57]:
# 13. Format a string using `.format(**dict)` where the dict contains multiple keys.

# Answer:
data = {'name': 'Partho', 'age': 43, 'country': 'Bangladesh'}
formatted = "Name: {name}, Age: {age}, Country: {country}".format(**data)
print(formatted)

Name: Partho, Age: 43, Country: Bangladesh

In [58]:
# 14. Print a table header with `Name`, `Score`, and `Grade` aligned properly using f-string.

# Answer:
print(f"|{'Name':^10}|{'Score':^10}|{'Grade':^10}|")

|   Name   |  Score   |  Grade   |

In [59]:
# 15. Display a DataFrame-like row: `"Alice | 85.5 | B"` using alignment formatting in an f-string.

# Answer:
name = "Alice"
score = 85.5
grade = 'B'

print(f"{name:<10} | {score:^6.1f}|{grade:>2}")

Alice      |  85.5 | B

# 🔹 Excercise: Scientific Notation, Percentages, and Number Formats

In [61]:
# 16. Format a number `0.8567` as a percentage with 1 decimal place: `"85.7%"`.
num = 0.8567

# Answer:
print(f'{num:.1%}')

85.7%

In [62]:
# 17. Format the number `12345678.9` in scientific notation using `format()`.

number = 12345678.9
formatted = format(number, ".2e")
print(formatted)

1.23e+07

In [63]:
# 18. Format the float `123.456` to always show the sign (e.g., `+123.46`).
flo = 123.456

# Answer:
print(f'{flo:+.2f}')

+123.46

In [64]:
# 19. Format a number to show thousand separators and 2 decimal places: `12,345.68`.
num = 12345.6876

# Answer:
print({f'{num:,.2f}'})

{'12,345.69'}

In [65]:
# 20. Use string formatting to limit a float `0.123456789` to the first 5 significant digits.
num = 0.123456789

# Answer:
print(f'{num:.5g}')

0.12346

# 🔹 Excercise: Date & Time Formatting with `datetime`

In [67]:
# 21. Format today's date as `2025-07-04` using `strftime()`.

# Answer:
from datetime import date

today = date.today()
formatted = today.strftime("%Y-%m-%d")
print(formatted)

2025-07-05

In [68]:
# 22. Print current time in `HH:MM:SS` format using string formatting.

# Answer:
from datetime import datetime

now = datetime.now()
formatted_time = now.strftime("%H:%M:%S")
print(formatted_time)

01:33:41

In [69]:
# 23. Given a datetime object, format it into: "04 July, 2025".

# Answer:
from datetime import datetime

dt = datetime(2025, 7, 4)
formatted = dt.strftime("%d %B, %Y")
print(formatted)

04 July, 2025

In [70]:
# 24. Convert a datetime object into ISO 8601 format using `.isoformat()`.

# Answer:
from datetime import datetime

dt = datetime(2025, 7, 4, 14, 30, 45)
iso_format = dt.isoformat()
print(iso_format)

2025-07-04T14:30:45

In [71]:
# 25. Print only the year and month from a datetime: `"2025-07"`.

# Answer:
from datetime import datetime

dt = datetime(2025, 7, 4)
formatted = dt.strftime("%Y-%m")
print(formatted)

2025-07

# 🔹 Excercise: Real-World Data Science Use Cases

In [73]:
# 26. Display model accuracy with 3 decimal places in the sentence: `"Model accuracy is 0.987"`.
accuracy = 0.987123

# Answer:
print(f'MOdel accuracy is {accuracy:.3f}')

MOdel accuracy is 0.987

In [74]:
# 27. Print a confusion matrix header row with proper column alignment using string formatting.

# Answer:
print(f"{' ':<12}{'Predicted 0':<15}{'Predicted 1':<15}")
print(f"{'Actual 0':<12}{50:<15}{3:<15}")
print(f"{'Actual 1':<12}{3:<15}{42:<15}")

            Predicted 0    Predicted 1
Actual 0    50             3
Actual 1    3              42

In [75]:
# 28. Generate a formatted report line: `"Feature: age | Mean: 29.54 | Std: 4.32"` using f-string.

# Answer:
feature = "age"
mean = 29.54321
std = 4.32109

print(f"Feature: {feature} | Mean: {mean:.2f} | Std: {std:.2f}")

Feature: age | Mean: 29.54 | Std: 4.32

In [76]:
# 29. Print the first 3 feature names from a list `features = ['age', 'income', 'score']` with commas.
features = ['age', 'income', 'score']

# Answer:
print(f"{features[0]},{features[1]},{features[2]}")

age,income,score

In [77]:
# 30. Create a formatted string showing: `"Data Shape: 1000 rows x 10 columns"` using variables.

# Answer:
rows = 1000
columns = 10
print(f"Data Shape: {rows} rows x {columns} columns")

Data Shape: 1000 rows x 10 columns

# The End